@font-face {
  font-family: 'Prego-font-icon';
  src: url("../fonts/prego-font/fonts/prego-font.eot?4yxh3p");
  src: url("../fonts/prego-font/fonts/prego-font.eot?#iefix4yxh3p") format("embedded-opentype"), url("../fonts/prego-font/fonts/prego-font.ttf?4yxh3p") format("truetype"), url("../fonts/prego-font/fonts/prego-font.woff?4yxh3p") format("woff"), url("../fonts/prego-font/fonts/prego-font.svg?4yxh3p#prego-font") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: 'Prego-font-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-balance-2:before {
  content: "\e900"; }

.i-add-members:before {
  content: "\e627"; }

.i-apply-new-card:before {
  content: "\e628"; }

.i-balance:before {
  content: "\e629"; }

.i-card-details:before {
  content: "\e62a"; }

.i-change-password:before {
  content: "\e62b"; }

.i-company-information:before {
  content: "\e62c"; }

.i-contact-person:before {
  content: "\e62d"; }

.i-getting-started:before {
  content: "\e62e"; }

.i-how-to-send-money:before {
  content: "\e62f"; }

.i-id-information:before {
  content: "\e630"; }

.i-mobile-phone:before {
  content: "\e632"; }

.i-personal-information:before {
  content: "\e633"; }

.i-supplementary-card-details:before {
  content: "\e634"; }

.i-transaction-history:before {
  content: "\e635"; }

.i-check:before {
  content: "\e626"; }

.i-arrow-back:before {
  content: "\e625"; }

.i-log-out-i:before {
  content: "\e61c"; }

.i-reporters-i:before {
  content: "\e61d"; }

.i-social-i:before {
  content: "\e61e"; }

.i-support-i:before {
  content: "\e61f"; }

.i-send-i:before {
  content: "\e620"; }

.i-cards-i:before {
  content: "\e621"; }

.i-companies-i:before {
  content: "\e622"; }

.i-dash-i:before {
  content: "\e623"; }

.i-calculator:before {
  content: "\e618"; }

.i-trash:before {
  content: "\e619"; }

.i-plus:before {
  content: "\e61a"; }

.i-arrow-left:before {
  content: "\e600"; }

.i-arrow-right:before {
  content: "\e616"; }

.i-edit-i:before {
  content: "\e624"; }

.i-success:before {
  content: "\e614"; }

.i-error:before {
  content: "\e615"; }

.i-uploadfile:before {
  content: "\e613"; }

.i-dollars:before {
  content: "\e612"; }

.i-cards:before {
  content: "\e611"; }

.i-out:before {
  content: "\e60b"; }

.i-password:before {
  content: "\e60c"; }

.i-bankdetails:before {
  content: "\e60d"; }

.i-deals:before {
  content: "\e60e"; }

.i-details:before {
  content: "\e60f"; }

.i-pin:before {
  content: "\e610"; }

.i-search:before {
  content: "\e617"; }

.i-start:before {
  content: "\e601"; }

.i-dashborard:before {
  content: "\e602"; }

.i-people:before {
  content: "\e603"; }

.i-support:before {
  content: "\e604"; }

.i-statistics:before {
  content: "\e605"; }

.i-coin:before {
  content: "\e606"; }

.i-card:before {
  content: "\e607"; }

.i-arrow-top:before {
  content: "\e608"; }

.i-arrow-bottom:before {
  content: "\e609"; }

.i-bell:before {
  content: "\e60a"; }

.i-lock-card:before {
  content: "\e631"; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #dbdfdb; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc; }

/* Toggle-menu Styles */
.desktop-detected {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#page-content-wrapper {
  position: relative;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #page-content-wrapper.toggled {
    padding-left: 250px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #page-content-wrapper.log-out {
    padding: 0; }

#sidebar-wrapper {
  z-index: 2;
  position: absolute;
  left: 0;
  width: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  background: #3a3b41;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.desktop-detected.toggled #sidebar-wrapper {
  width: 250px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.main-content,
.main-footer {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: 0;
  position: relative; }

.desktop-detected.toggled .main-content, .desktop-detected.toggled .main-footer {
  right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  .sidebar-nav li {
    border-bottom: 1px solid #242428; }
    .sidebar-nav li.active a, .sidebar-nav li:hover a {
      text-decoration: none;
      background-color: #242428; }
      .sidebar-nav li.active a:after, .sidebar-nav li:hover a:after {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1; }
    .sidebar-nav li a {
      padding: 15px 25px;
      display: block;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .sidebar-nav li a:after {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent #F6F6F6 transparent transparent;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
      .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none; }
    .sidebar-nav li .icon {
      font-size: 20px;
      display: inline-block;
      width: 40px;
      text-align: center;
      margin-right: 10px; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.profile-img__wr {
  position: relative;
  display: inline-block; }
  .profile-img__wr .user-status {
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-right: -3px; }

@media (min-width: 768px) {
  #page-content-wrapper {
    padding-left: 250px; }
    #page-content-wrapper.log-out {
      padding: 0; }

  #page-content-wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #page-content-wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
/* end Toggle-menu Styles */
.nav-tabs > li {
  float: none;
  margin-bottom: 10px; }
  .nav-tabs > li > a {
    padding: 7px 0 3px;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    color: #ababae; }
    .nav-tabs > li > a:hover {
      border-color: #000;
      color: #000; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000; }

.panel {
  margin-top: 0;
  border: 1px solid transparent;
  border-bottom: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel p {
    margin-bottom: 10px; }

.panel-heading a {
  text-decoration: none;
  display: block;
  padding: 15px 40px 15px 20px;
  position: relative;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .panel-heading a:after {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    content: "\e608";
    position: absolute;
    right: 20px;
    top: 17px;
    font-family: 'Prego-font-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 6px;
    text-align: center;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .panel-heading a.collapsed:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.panel-default .panel-heading a {
  background: #f5f5f5; }
  .panel-default .panel-heading a.collapsed {
    background: #fff; }

.lt-ie9 .panel-heading a.collapsed:after {
  content: "\e609"; }

.panel-group {
  margin-bottom: 20px; }
  .panel-group .panel + .panel {
    margin-top: 0; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  min-width: 32rem;
  min-height: 100%;
  margin: 0 auto;
  color: #272525;
  background: #f6f6f6; }

.main-wrapper {
  background: #f6f6f6; }

.panel-title {
  font-size: inherit; }

.dropdown-menu:after {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
  height: 0;
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent; }
.dropdown-menu:before {
  position: absolute;
  top: -12px;
  right: 9px;
  width: 0;
  height: 0;
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #d9d9d9 transparent; }

.close {
  outline: none; }

.pagination {
  margin-top: 0; }

.pagination__label {
  display: inline-block;
  float: left;
  padding: 6px 15px 0 0; }

.pagination__counter {
  display: inline-block;
  float: left;
  padding: 6px 0 0 15px; }

.form-horizontal .control-label {
  font-weight: normal;
  text-align: left; }

.btn {
  font-weight: normal;
  text-transform: uppercase; }

.btn-primary:hover {
  background: #404040; }

.modal-title {
  font-size: initial;
  font-weight: 400;
  text-transform: uppercase;
  color: #929395; }

.modal-header .modal__close {
  margin: -15px -10px 0 0; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  font-size: 1em;
  padding: 0;
  background: transparent; }
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  color: #929395;
  right: 17px;
  top: 17px; }
.ngdialog.ngdialog-theme-default * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.ngdialog.ngdialog-theme-default.ng-modal-lg .ngdialog-content {
  width: 600px; }
.ngdialog.ngdialog-theme-default.ng-modal-md .ngdialog-content {
  width: 450px; }
.ngdialog.ngdialog-theme-default.ng-modal-sm .ngdialog-content {
  width: 300px; }
.ngdialog.ngdialog-theme-default .modal-header {
  padding-right: 35px; }

.ngdialog.ngdialog-theme-default.ng-modal-ml-460 .ngdialog-content {
  width: 460px; }

.tabpanel-grid .btn-group_horizontal .btn {
  margin-bottom: 18px; }

.bootstrap-select > .btn {
  font-size: 14px;
  line-height: 1.42857;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 13px;
  text-transform: none;
  color: #555555;
  border: 1px solid #E0E1E3;
  border-radius: 3px;
  background-color: #fff;
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .bootstrap-select > .btn:focus {
    outline: none !important;
    border-color: #66afe9;
    outline: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.bootstrap-select.open > .btn {
  border-color: #66afe9;
  background-color: #fff;
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
.bootstrap-select.open .dropdown-menu > li > a:hover, .bootstrap-select.open .dropdown-menu > li > a:focus {
  color: #fff;
  outline: none;
  background-color: #00AEEF;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.has-error .bootstrap-select > .btn {
  border-color: #E54F26; }
.has-error .bootstrap-select:focus {
  border-color: #E54F26;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d; }

.has-success .bootstrap-select > .btn {
  border-color: #4DB07A; }
  .has-success .bootstrap-select > .btn:focus {
    border-color: #4DB07A;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af; }

.bootstrap-select > .btn:focus {
  outline: none !important;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.has-error .bootstrap-select > .btn:focus {
  border-color: #f33000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d; }

.has-success .bootstrap-select > .btn:focus {
  border-color: #3d8d61;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af; }

.server-error__list {
  padding: 0;
  list-style: none; }

.progress-default {
  height: 22px;
  border: 1px solid #e0e1e3;
  background: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-icon-group {
  position: relative; }
  .form-icon-group .form-control {
    padding-right: 40px; }

.form-icon {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  z-index: 2;
  top: 0;
  top: 50%;
  right: 0;
  display: block;
  width: 40px;
  margin-top: -10px;
  text-align: center;
  vertical-align: middle;
  pointer-events: none;
  color: #000; }

.progress-bar-default {
  background: #e0e1e3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.main-header {
  padding: 5px 0;
  border-bottom: 1px solid #e2e4e7;
  background: #fff; }

.sb-toggle-left {
  display: block;
  float: left;
  width: 30px;
  margin-top: 11px;
  margin-right: 10px;
  padding: 5px; }

.navicon-line {
  display: block;
  height: 3px;
  margin-bottom: 3px;
  background: #000; }

.logo {
  display: inline-block;
  max-width: 100%; }

.logo-wrapper {
  float: left;
  width: 90px;
  margin: 0;
  padding: 0; }

.need-accoun__link {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 10px;
  color: #272525; }

.btn__sign-up {
  margin-left: 20px; }

.authorisation__menu_log-out {
  float: right;
  padding: 10px 0;
  text-align: right; }

.btn__sign-up {
  text-transform: uppercase; }

.authorisation__menu_authorised {
  float: right;
  padding: 5px 0; }

.user-alerts-wr {
  font-size: 18px;
  float: left;
  margin-top: 5px;
  margin-right: 5px; }

.user-alerts__dropdown {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle; }
  .user-alerts__dropdown .i-bell_empty {
    position: relative;
    text-decoration: none; }
    .user-alerts__dropdown .i-bell_empty:after {
      font-size: 16px;
      position: absolute;
      top: 1px;
      left: 1px;
      content: '\e60a';
      color: #fff; }

.user-alerts__menu {
  right: 50%;
  left: inherit;
  min-width: 200px;
  margin-top: 15px;
  margin-right: -100px;
  padding: 10px; }
  .user-alerts__menu .close {
    margin-top: -13px; }
  .user-alerts__menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .user-alerts__menu li {
    line-height: 18px;
    display: block;
    margin-bottom: -1px;
    padding: 13px 10px;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent; }
    .user-alerts__menu li:hover {
      border-top-color: #e2e4e7;
      border-bottom-color: #e2e4e7;
      background-color: #f2f2f2; }

[class*='alert__massage'] {
  padding-left: 25px; }

.alert__massage-error {
  background: url(../img/error.png) left top no-repeat; }

.alert__massage-edded {
  background: url(../img/edded.png) left top no-repeat; }

.alert__massage-approved {
  background: url(../img/approved.png) left top no-repeat; }

.notifications_dd {
  font-weight: 700;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #929395; }

.alert-count {
  padding: 4px 7px;
  vertical-align: middle;
  background-color: #00AEEF; }

.user-avatar-wr {
  position: relative;
  float: left;
  margin-right: 5px; }

.user-avatar {
  display: block;
  overflow: hidden;
  width: 35px;
  height: 35px; }
  .user-avatar img {
    max-width: 100%;
    height: auto; }

.user-name {
  display: none; }

.user-dropdown {
  font-size: 12px;
  font-weight: 400;
  float: left;
  margin-top: 5px;
  padding: 7px 8px;
  color: #231f20; }

.user-dropdown .user-dropdown__btn {
  text-decoration: none;
  text-transform: uppercase;
  border: none; }

.user-dropdown__menu {
  right: 0;
  left: inherit; }

.user-dropdown__carret {
  font-size: 7px; }

.user-status {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 1px solid #fff;
  background-color: #efa73e;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px; }

.user-status_error {
  background: #E54F26; }

.user-status_new-reg {
  background: #4DB07A; }

.user-status_dd {
  margin-right: 8px; }

.user-status_avatar {
  position: absolute;
  position: absolute;
  top: -5px;
  top: -5px;
  right: -5px;
  right: -5px; }

.user-dropdown__menu {
  min-width: 210px;
  margin-top: 10px; }
  .user-dropdown__menu a {
    line-height: 1;
    display: block;
    padding: 8px 20px;
    text-decoration: none; }
    .user-dropdown__menu a:hover {
      background-color: #f2f2f2; }
  .user-dropdown__menu ul {
    margin: 0;
    padding: 10px 0;
    list-style: none; }
  .user-dropdown__menu .icon {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: text-bottom; }

.dropdown__user-status {
  border-bottom: 1px solid #ddd; }

.js-minHt {
  min-height: 150px; }

.js .js-minHt {
  min-height: 1000px; }

.main-content > .container {
  padding-top: 20px;
  padding-bottom: 20px; }

.main-container {
  margin: 0 15px; }

.page-title {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px;
  padding-top: 10px;
  text-transform: uppercase; }

.one__main-stats {
  border-top: 1px solid #e0e1e3; }
  .one__main-stats:first-child {
    border-top: none; }

.main-counter__text {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase; }

.statistics__title {
  font-size: initial;
  font-weight: normal;
  margin: 0 0 20px;
  text-transform: uppercase;
  color: #fff; }

.main-counter__icon-wr {
  font-size: 25px;
  margin-right: 15px;
  vertical-align: middle;
  color: #000; }

.main-counter__text-wr {
  overflow: hidden; }

.main-counter__number {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  float: right;
  text-transform: uppercase;
  color: #272525; }

.statistics__general-information {
  padding-right: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  float: left;
  white-space: nowrap; }

.statistics__general-information-value {
  margin-left: 5px;
  color: #272525; }

.min-section {
  margin-bottom: 20px; }

.min-section__br-bg {
  border: 1px solid #e0e1e3;
  border-radius: 2px;
  background: #fff; }

.min-section__br-bg_info {
  background-color: #00AEEF; }

.min-section__br-bg_primary-light {
  color: #fff;
  position: relative; }
  .min-section__br-bg_primary-light:after {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
    bottom: 0;
    background-color: #3a3b41;
    display: block;
    z-index: 1; }
  .min-section__br-bg_primary-light .section-z-index {
    position: relative;
    z-index: 2; }
  .min-section__br-bg_primary-light .min-section__title, .min-section__br-bg_primary-light .min-section__footer-link {
    color: #fff; }

.info-block, .accordion_black .panel-body {
  border-left: 5px solid #00AEEF; }
  .info-block .close, .accordion_black .panel-body .close {
    margin-top: -10px; }

.min-section__header {
  padding: 0 0 20px; }
  .min-section__header.min-section__header_black {
    padding: 20px;
    margin: -20px -20px 0;
    background: #3a3b41; }
    .min-section__header.min-section__header_black .min-section__title, .min-section__header.min-section__header_black .min-section__footer-link {
      color: #fff; }

.min-section__title, .min-section__footer-link {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
  color: #000; }

.min-section__footer-link {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0; }

.min-section__pd {
  padding: 20px; }

.min-section__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .min-section__list li {
    padding: 15px 0;
    border-top: 1px solid #e0e1e3; }
    .min-section__list li:first-child {
      border: none; }
    .min-section__list li .first-list__icon {
      display: inline-block;
      width: 20px;
      margin-right: 10px;
      text-align: center;
      vertical-align: middle; }

.i-more_m-l {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle; }

.chart__info-col {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  overflow-x: hidden;
  margin-bottom: 10px;
  padding: 3px 0;
  text-transform: uppercase; }
  .chart__info-col .chart__info-col-label {
    float: left;
    width: 70%;
    padding: 0 10px 0 15px;
    border-left: 5px solid transparent; }
    .chart__info-col .chart__info-col-label.chart__color-info {
      border-color: #00AEEF; }
    .chart__info-col .chart__info-col-label.chart__color-default {
      border-color: #E0E1E3; }
    .chart__info-col .chart__info-col-label.chart__color-primary {
      border-color: #000; }
    .chart__info-col .chart__info-col-label.chart__color-danger {
      border-color: #E54F26; }

.chart__block {
  margin-bottom: 10px; }

.chart__info-col-value {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  float: left;
  width: 30%;
  text-transform: uppercase; }

.chart__total-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase; }

.chart__total-value {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase; }

.news-and-updates__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.news-and-updates__list-item {
  margin-bottom: 15px;
  padding: 0 0 15px;
  border-bottom: 1px solid #fff; }
  .news-and-updates__list-item:last-child {
    border: none; }

.news-and-updates__list-item-inner {
  padding: 0 20px 0 15px;
  border-left: 5px solid #00AEEF; }

.news-and-updates__item-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0; }

.news-and-updates__item-text p {
  margin: 0; }
.news-and-updates__item-text a {
  color: #00AEEF; }

.accordion_black .panel {
  background: #fff; }
.accordion_black .panel-heading a, .accordion_black .panel-heading a.collapsed {
  background: #3a3b41;
  color: #fff; }

.section_btn-bottomm-right-wr {
  position: relative; }

.btn_bottom-right {
  float: right;
  min-width: 120px; }

@media (min-width: 1200px) {
  .btn_bottom-right {
    position: absolute;
    right: 0;
    bottom: 0; } }
.tabpanel_inner-width {
  max-width: 620px; }

.form-group__some-controls {
  margin-bottom: 0; }

.form-group__inner,
.form-group {
  margin-bottom: 18px; }
  .form-group__inner.has-feedback,
  .form-group.has-feedback {
    margin-bottom: 10px; }
  .form-group__inner .control-label,
  .form-group .control-label {
    color: inherit; }

.account__top-allert {
  max-width: 350px;
  margin: 15px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1); }
  .account__top-allert .icon {
    margin-right: 10px;
    vertical-align: middle; }

.center-min-block__header-icon {
  margin-right: 15px; }

.center-sm-b {
  max-width: 560px; }

.center-min-block__header-title_text {
  font-size: 19px;
  font-weight: normal;
  display: block;
  padding-top: 17px; }

.center-min-block__header-icon_wr {
  line-height: 50px; }

.center-min-block__header {
  overflow: hidden;
  margin-bottom: 20px; }

.center-min-block__header-title {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  min-height: 50px;
  margin: 0;
  text-transform: uppercase;
  color: #272525; }

.center-min-block {
  margin: 30px auto;
  border: 1px solid #e0e1e3;
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9.9px 0.1px rgba(0, 0, 0, 0.1); }

.center-min-block__body {
  font-weight: 400;
  line-height: 20px;
  padding: 30px;
  color: #272525;
  text-align: justify; }

.left-form-block__wr {
  position: relative; }

.right-form-caption-block__wr {
  margin: 0 -30px 20px;
  padding: 30px;
  background-color: #3A3B41; }

.center-md-bl {
  max-width: 950px; }

.center-rel-wr__for-right-hint {
  position: relative;
  z-index: 2; }

.bottom-help-block {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  overflow: hidden;
  color: #ababae; }

.help-block {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  overflow: hidden;
  color: #ababae; }

.bottom-help-block__link {
  text-decoration: none; }

.sign-up-caption {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  z-index: 2;
  color: #fff; }
  .sign-up-caption p {
    margin-bottom: 20px;
    color: #fff; }
  .sign-up-caption a {
    font-weight: 400;
    color: #00aeef; }
  .sign-up-caption ul {
    margin: 5px 0;
    padding: 0;
    list-style: none; }
    .sign-up-caption ul li {
      position: relative;
      padding-left: 15px; }
      .sign-up-caption ul li:after {
        position: absolute;
        top: 5px;
        left: 0;
        display: inline-block;
        width: 5px;
        height: 8px;
        content: '';
        background-color: #00aeef; }

.sign-up-caption__title {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 15px; }

.sign-up__form-btn_wr {
  float: right;
  margin-left: 15px; }

.sign-up__dear-text-block {
  overflow: hidden; }

.dear-text__title {
  font-size: 14px;
  font-weight: 700; }

.faq-accordion__wr .panel-body {
  font-size: 14px; }
  .faq-accordion__wr .panel-body p {
    line-height: 20px; }

.accordion_no-pad {
  margin: 0 -20px -20px; }

.quick-guide__list-item {
  margin-bottom: 10px; }

.quick-guide__list-link {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  display: block;
  padding: 20px 40px 20px 20px;
  border: 1px solid #000; }
  .quick-guide__list-link:after {
    font-family: 'Prego-font-icon';
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -5px;
    content: '\e616';
    text-align: center;
    text-transform: none;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .quick-guide__list-link .icon {
    line-height: 22px;
    position: absolute;
    top: 50%;
    width: 25px;
    margin-top: -11px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle; }
  .quick-guide__list-link .fs-min {
    font-size: 18px; }
  .quick-guide__list-link .fs-big {
    font-size: 22px; }
  .quick-guide__list-link span {
    display: block;
    overflow: hidden;
    padding-left: 35px; }

.list_style {
  padding: 0;
  padding: 0;
  list-style: none; }
  .list_style > li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e3; }
    .list_style > li:last-child {
      border-bottom: none; }
  .list_style.list_style-border > li:last-child {
    border-bottom: 1px solid #e2e2e3; }
  .list_style.list_style-border > li:first-child {
    padding-top: 20px;
    border-top: 1px solid #e2e2e3; }

.min-list-info {
  margin: 0;
  padding: 0;
  list-style: none; }

.min-list-info__item {
  line-height: 1.3em;
  margin-bottom: 5px; }

.min-list-info__label {
  float: left;
  width: 120px; }

.min-list-info__value {
  margin-left: 130px; }
  .min-list-info__value span {
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    opacity: .6;
    color: #3a3b41; }

.item__title {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px;
  color: #000; }
  .item__title span {
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    color: #3a3b41;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }

.item-title__id {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #000; }

.item-title__text,
.item__text {
  font-size: 14px;
  font-weight: 400;
  color: #000; }

.item__text_min {
  font-size: 14px;
  color: #6a6c77; }

.item__text_mg-top {
  margin-top: 5px; }

.filter-input {
  position: relative;
  width: 100%;
  color: #cccdd0; }
  .filter-input .form-control {
    padding-left: 35px; }
  .filter-input .icon {
    font-size: 20px;
    line-height: 20px;
    top: 50%;
    left: 0;
    margin-top: -10px; }
  .filter-input.filter-input_right .form-control {
    padding-right: 35px;
    padding-left: 13px; }
  .filter-input.filter-input_right .icon {
    left: inherit; }

.nav-tabs.nav-tub_custom {
  border-bottom: none; }

.min-section__pd-bt-none {
  padding-bottom: 0; }

.btn__invite-members {
  margin-bottom: 20px; }

.invitations-send__text {
  font-size: 16px;
  padding: 30px 0 0;
  text-align: center; }

.total-groups {
  padding: 8px 0; }

.one-totla {
  display: inline-block;
  margin-right: 20px; }

.modal-footer.invitations-send__footer {
  text-align: center; }

.join-requests__list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 500px;
  padding: 0;
  list-style: none; }

.join-requests__list-item {
  padding: 15px 0;
  border-top: 1px solid #e0e1e3; }

.join-list__left-block {
  font-size: 14px;
  font-weight: 400; }

.user-info__name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #272525; }

.join-list__right-block {
  padding-top: 20px; }

.btn-group_horizontal .btn {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px; }
  .btn-group_horizontal .btn:last-child {
    margin-right: 0; }

.btn-badge {
  font-weight: 400;
  line-height: 21px;
  display: inline-block;
  min-width: 21px;
  height: 21px;
  margin-left: 10px;
  padding: 0 5px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #707172;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.main-filter-block, .min-section__header_bottom-line {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #e0e1e3; }

.main-filter-block__counter {
  line-height: 22px;
  padding: 6px 0; }

.new-payout-select__wr {
  padding-left: 20px; }

.grid-plus-btn,
.grid-del-btn {
  font-size: 18px;
  line-height: 18px;
  display: block;
  text-align: center;
  color: #929395; }

.min-title {
  font-size: 14px;
  font-weight: 700; }

.filter-input__btn {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding: 7px 0;
  text-decoration: underline;
  color: #929395; }
  .filter-input__btn .icon {
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle; }

.i-download:before {
  display: inline-block;
  width: 17px;
  height: 20px;
  content: '';
  background: url(../img/upload-img.png) center center no-repeat; }

.input-ng-datepicker {
  position: relative; }
  .input-ng-datepicker .form-control {
    padding-right: 35px; }
  .input-ng-datepicker .ng-datepicker-btn {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 35px;
    margin-top: -11px;
    padding: 0;
    text-align: center; }
  .input-ng-datepicker .btn {
    font-weight: normal;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .input-ng-datepicker .btn:focus {
      outline: none; }
  .input-ng-datepicker thead .btn {
    border: none;
    background: transparent; }
  .input-ng-datepicker .dropdown-menu {
    right: 0;
    left: inherit !important;
    margin: 0;
    padding: 0;
    outline: none; }
  .input-ng-datepicker .ng-isolate-scope table {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .input-ng-datepicker .text-info {
    color: #fff; }

.loader-container {
  position: relative; }

.loader-bg {
  position: relative;
  z-index: 1000;
  min-height: 100px; }
  .loader-bg .min-section__title_load-show {
    position: relative;
    z-index: 1002; }

.loader-wr {
  position: relative;
  position: absolute;
  z-index: 1000;
  z-index: 1001;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .loader-wr.loader-wr_sb {
    z-index: 1002;
    top: -20px;
    bottom: -20px; }
    .loader-wr.loader-wr_sb .loader-2 {
      position: fixed; }

.loader {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 78px;
  height: 66px;
  margin-top: -33px;
  margin-left: -39px;
  background: url(../img/loader-bottom.png) left top no-repeat; }
  .loader:after {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    content: '';
    background: url(../img/loader-top.png) left top no-repeat;
    -moz-animation: loader 2s ease 1s infinite alternate;
    -webkit-animation: loader 2s ease 1s infinite alternate;
    animation: loader 2s ease 1s infinite alternate; }

@-webkit-keyframes loader {
  from {
    width: 0; }
  to {
    width: 100%; } }
@-moz-keyframes loader {
  from {
    width: 0; }
  to {
    width: 100%; } }
@-ms-keyframes loader {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes loader {
  from {
    width: 0; }
  to {
    width: 100%; } }
.loader-2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 0 2em;
  margin: 0 auto;
  margin-top: -60px;
  margin-left: -60px;
  text-align: center;
  vertical-align: top;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .loader-2.loader-2_min {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px; }

.toggled .loader-wr_sb .loader-2 {
  margin-left: 190px; }

@media (min-width: 768px) {
  .loader-wr_sb.loader-wr {
    top: -25px;
    bottom: -25px; }
  .loader-wr_sb .loader-2 {
    margin-top: -30px;
    margin-left: 70px; } }
.coming-soon__wr {
  max-width: 500px;
  margin: 40px auto;
  padding: 40px;
  background: #fff; }

.coming-soon {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  color: #000; }
  .coming-soon span {
    color: #E54F26; }

.grid-massage {
  padding: 20px 10px;
  text-align: center;
  color: #929395; }

.i-group_add {
  font-size: 1.3em; }

.main-footer {
  padding: 10px 0;
  border-top: 1px solid #e2e4e7;
  background: #fff; }

.copyright-block__text {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 10px;
  text-align: center;
  color: #ababae; }

.footer-nav {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.footer-nav__li {
  font-size: 13px;
  display: inline-block;
  color: #ababae; }
  .footer-nav__li:before {
    margin-right: 10px;
    margin-left: 10px;
    content: '|'; }
  .footer-nav__li:first-child:before {
    display: none; }

.footer-nav__link {
  font-weight: 400;
  color: inherit; }

.gridStyle .disabled .ngSelectionCheckbox,
.gridStyle .disabled .grid-plus-btn {
  display: none; }

::-webkit-input-placeholder {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #999; }

:-moz-placeholder {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #999; }

::-moz-placeholder {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #999; }

:-ms-input-placeholder {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  color: #999; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.main-account__section .company-details .form-group p.bottom-help-block {
  display: none; }

.register_splash .btn-group_horizontal .btn {
  margin-right: 0px; }

.bs-searchbox {
  opacity: 0;
  position: absolute; }

.dropdown-menu li.hidden {
  display: block !important;
  visibility: visible; }

.dropdown-menu li.no-results {
  display: none !important; }

.box-message {
  padding: 0 10px;
  text-align: center;
  color: #929395; }

.dropdown-menu {
  z-index: 1001; }

.btn-form-bottom {
  padding-top: 20px; }

.btn-register-wr {
  display: none !important; }

.register_splash .btn-register-wr {
  display: block !important; }

.center-lg-bl {
  max-width: 1000px; }

.register_splash .additional-field {
  display: none; }

@media (max-width: 767px) {
  .sign-up__step-block,
  .center-min-block__header-title {
    width: 100%;
    float: none; }

  .user-alerts__menu:after {
    right: 50%;
    margin-right: -5px; }
  .user-alerts__menu:before {
    right: 50%;
    margin-right: -6px; } }
@media (min-width: 768px) {
  .left-form-block__wr {
    float: left;
    width: 64%; }

  .logo-wrapper {
    padding: 13px 0 0; }

  .item__text_right {
    text-align: right; }

  .container {
    padding: 0 30px; }

  .sb-toggle-left {
    display: none; }

  .user-name {
    display: inline-block; }

  .main-header {
    padding: 20px 0; }

  .logo-wrapper {
    width: 100%; }

  .user-alerts-wr {
    margin-right: 20px;
    margin-top: 15px; }

  .user-alerts__dropdown {
    margin-right: 10px; }

  .user-alerts__menu {
    right: 0;
    margin-right: -5px;
    min-width: 320px; }

  .user-dropdown {
    margin-top: 10px;
    padding-bottom: 15px; }

  .user-dropdown__carret {
    margin-left: 5px; }

  .user-avatar-wr {
    margin-right: 10px; }

  .user-avatar {
    height: 50px;
    width: 50px; }

  .user-status {
    top: 0;
    right: 0; }

  .copyright-block__text {
    text-align: left;
    margin: 0; }

  .footer-nav {
    text-align: right; }

  .user-alerts__menu .close {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .user-alerts__menu .alert:hover .close {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

  .main-content > .container {
    padding-top: 25px;
    padding-bottom: 25px; }

  .page-title {
    margin-bottom: 30px; }

  .nav-tabs > li {
    float: left;
    margin: 0 30px 10px 0; }

  .account__top-allert_wr {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0; }

  .btn__invite-members {
    float: right; }

  .modal-dialog {
    margin-top: 10%; }

  .btn-group_right {
    text-align: right; }

  .right-form-caption-block__wr {
    float: right;
    margin: 66px -15px 0 0;
    width: 34%;
    padding: 0 0px 0 10px;
    background-color: #3A3B41; }
    .right-form-caption-block__wr:after {
      content: '';
      background-color: #3A3B41;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 34%;
      z-index: 1; }

  .sign-up__step-block {
    text-align: right;
    padding-bottom: 0;
    padding-top: 17px; }

  .coming-soon__wr {
    margin: 70px auto; }

  .coming-soon {
    font-size: 70px; } }
.dysplay-tb-c.min-section__br-bg_primary-light {
  margin-right: 10px;
  margin-left: 10px; }

@media (min-width: 992px) {
  .center-min-block {
    margin: 100px auto; }

  .main-stats {
    display: table;
    table-layout: fixed;
    width: 100%; }

  .one__main-stats {
    display: table-cell;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #e0e1e3;
    border-top: none; }
    .one__main-stats:first-child {
      border-left: none; }

  .dysplay-tb {
    display: table; }
    .dysplay-tb .min-section:last-child {
      margin-bottom: 0; }

  .dysplay-tb-c {
    display: table-cell;
    vertical-align: top;
    float: none; }
    .dysplay-tb-c.min-section__br-bg_primary-light {
      margin: 0; }

  .total-chart_wr {
    text-align: right; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .main-counter__number {
    float: none;
    position: absolute;
    right: 15px;
    bottom: 15px; }

  .statistics__general-information {
    float: none; }

  .info-dash-couner-block {
    min-height: 140px;
    padding-bottom: 40px;
    position: relative; } }
@media (min-width: 1200px) {
  .tabpanel_inner-width {
    max-width: 800px; }

  .nav-tabs .filter-input {
    margin-right: 0;
    float: right; }

  .nav-tabs.nav-tub_custom {
    padding-bottom: 0; }
  .nav-tabs > li {
    float: left;
    margin-bottom: 0; }

  .upload-payout-list__wr {
    padding-top: 30px; }

  .main-filter-block .control-label, .min-section__header_bottom-line .control-label {
    text-align: right; }

  .chart__total-wr {
    max-width: 130px;
    float: right; }

  .main-counter__number {
    font-size: 20px; }

  .statistics__general-information {
    font-size: 18px; } }
/* scrollbars */
.scrollable-area {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  color: #3a424d;
  font-size: 15px;
  line-height: 23px; }

.scrollable-area .jcf-scrollable {
  height: 388px;
  padding: 0 18px 15px 0;
  width: 100% !important; }

.scrollable-area .jcf-scrollbar-horizontal {
  display: none !important; }

.scrollable-area img {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 11px; }

.scrollable-area .text-holder {
  padding: 0 17px;
  margin: 0;
  line-height: 23px;
  color: #4b4a4a; }

.scrollable-area .text-holder p {
  margin: 0 0 24px; }

.scrollable-area .jcf-scrollbar-vertical {
  top: 12px;
  bottom: 12px;
  height: auto !important; }

.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  color: #79d1f4; }

.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: rgba(162, 179, 193, 0.9);
  border-radius: 4px; }

.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-slider {
  border-radius: 4px; }

.jcf-scrollable-wrapper {
  position: relative; }

.jcf-scrollbar-vertical {
  position: absolute;
  cursor: default;
  background: #437BA3;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 12px;
  bottom: 0;
  right: 3px;
  top: 0;
  padding-top: 3px;
  padding-bottom: 3px; }

.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  color: #00aeef; }

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  position: absolute;
  height: 5px;
  width: 10px;
  left: 0;
  top: -8px; }

.jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  content: "\f106";
  display: block;
  height: 5px;
  width: 10px;
  font-size: 5px;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  line-height: 1;
  opacity: .5; }

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  top: auto !important;
  bottom: -8px; }

.jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  content: "\f107"; }

.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #fff; }

.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-slider {
  border-radius: 4px; }

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: rgba(0, 0, 0, 0.9);
  height: 1px;
  border-radius: 4px;
  width: 6px;
  left: 3px;
  max-height: 100%; }

.jcf-scrollbar-vertical .jcf-scrollbar-slider {
  height: 100% !important; }

.jcf-scrollbar-horizontal {
  position: absolute;
  right: auto;
  top: auto;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 12px;
  background: #437BA3;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background: #fff;
  height: 10px;
  width: 10px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  left: auto;
  right: 0; }

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 6px;
  top: 3px; }

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  background: rgba(162, 179, 193, 0.9);
  border-radius: 4px;
  position: absolute;
  height: 6px; }

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden; }

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: #e3e3e3; }

/* select */
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0; }

.jcf-select {
  display: block;
  position: relative;
  border: 1px solid #E0E1E3;
  margin: 0;
  text-align: left;
  width: 100%;
  height: 34px;
  background: #fff;
  cursor: default;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .form-inline .jcf-select {
    display: inline-block;
    width: auto;
    min-width: 130px; }
  .jcf-select .jcf-select-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 14px;
    color: #555555;
    line-height: 1.6;
    height: 34px;
    font-weight: normal;
    margin: 0;
    padding: 6px 30px 6px 13px; }
  .jcf-select:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 12px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-style: solid;
    border-width: 4px;
    border-color: #555555 transparent transparent; }
  .jcf-select.jcf-select-input-sm {
    height: 25px; }
    .jcf-select.jcf-select-input-sm .jcf-select-text {
      height: 25px;
      padding: 0 20px 5px 10px; }
    .jcf-select.jcf-select-input-sm:before {
      right: 5px; }

.mac .jcf-select .jcf-select-text {
  padding: 2px 0 0; }

.jcf-list li {
  padding: 0; }

.jcf-list li:before {
  display: none; }

.jcf-select .jcf-select-text img,
.jcf-list .jcf-option img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 24px; }

.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 43px;
  bottom: 0;
  right: 0;
  top: 0; }

body > .jcf-select-drop {
  position: absolute;
  z-index: 9999; }

.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 2px;
  overflow: hidden;
  z-index: 9999;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddd; }

.jcf-select .jcf-select-drop.jcf-drop-flipped {
  margin: 0 0 2px; }

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto; }

.jcf-select-drop .jcf-select-drop-content {
  overflow: hidden;
  padding: 0;
  background: #fff; }

.jcf-list-box {
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 2px 0;
  background: #fff;
  border: 1px solid #c1c7cb; }

.jcf-list-box.jcf-focus {
  border-color: #95c8f7; }

.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  line-height: 18px;
  font-size: 14px;
  width: 100%; }

.jcf-select-drop-content .jcf-list .jcf-list-content {
  max-height: 140px !important;
  padding: 0; }

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  max-height: 242px !important;
  width: 100%; }

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.jcf-list ul li {
  overflow: hidden;
  display: block; }

.jcf-list .jcf-overflow {
  overflow: auto; }

.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: 14px;
  padding: 8px 13px;
  color: #3f433f;
  height: 1%;
  text-align: left;
  text-overflow: ellipsis; }

.jcf-select-drop-content .jcf-list .jcf-option {
  color: #000;
  padding: 5px 13px; }

.jcf-list .jcf-disabled {
  color: #5aa4af !important;
  background: none !important;
  opacity: 1; }

.jcf-list-box .jcf-selected {
  background-color: #f5f6f7; }

.jcf-list-box ul ul .jcf-selected {
  position: relative; }

.jcf-list ul ul .jcf-option.jcf-selected:before,
.jcf-list-box ul ul .jcf-selected:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 10px;
  top: 50%;
  left: 40px;
  margin: -5px 0 0 -6px;
  border: 1px solid #fff;
  border-width: 0 0 2px 2px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.jcf-list ul ul .jcf-option.jcf-selected:before {
  left: 42px; }

.jcf-select-drop-content .jcf-list ul ul .jcf-option.jcf-selected:before {
  left: 50px; }

.jcf-select-drop .jcf-selected,
.jcf-select-drop .jcf-hover {
  background: #00AEEF;
  color: #fff !important; }

.jcf-list .jcf-optgroup-caption {
  display: block;
  padding: 3px 20px;
  cursor: default;
  font-weight: 600;
  text-align: left;
  color: #fff; }

.jcf-select-drop-content .jcf-list .jcf-optgroup-caption {
  padding: 3px 25px; }

.jcf-select-drop-content .jcf-list .jcf-optgroup-caption {
  color: #00AEEF; }

.jcf-select-drop-content .jcf-list .jcf-optgroup .jcf-option {
  padding-left: 62px; }

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 55px; }

.jcf-textarea {
  padding: 3px 0;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
  display: block;
  line-height: 23px;
  position: relative;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  resize: none; }

.jcf-textarea.jcf-focus {
  border-color: #a5cdf1;
  box-shadow: 0 0 4px #89bfef; }

.jcf-textarea .jcf-scrollbar-vertical {
  top: 12px;
  bottom: 12px;
  height: auto !important; }

.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  color: #79d1f4; }

.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #6dcff6;
  opacity: .9;
  border-radius: 4px; }

.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-slider {
  border-radius: 4px; }

.jcf-textarea .jcf-scrollbar-horizontal {
  display: none;
  height: 0; }

.jcf-textarea textarea {
  padding: 13px 30px 13px 17px;
  border: none;
  margin: 0;
  width: 100% !important;
  height: 390px;
  line-height: 23px;
  color: #4b4a4a;
  font-weight: 400;
  outline: none;
  min-height: 195px;
  resize: none; }

.jcf-textarea .jcf-scrollable-wrapper {
  width: 100% !important;
  height: 382px !important; }

.jcf-textarea .jcf-resize {
  display: none;
  position: absolute;
  text-align: center;
  cursor: se-resize;
  border-style: solid;
  border-width: 5px;
  border-color: transparent #d2e0ed #d2e0ed transparent;
  bottom: 3px;
  right: 5px; }

.jcf-select-text .jcf-option-red,
.jcf-list .jcf-option-red {
  color: #f72525 !important; }

.jcf-select-text .jcf-option-green,
.jcf-list .jcf-option-green {
  color: #61bc00 !important; }

.jcf-select-text .jcf-option-blue,
.jcf-list .jcf-option-blue {
  color: #30c2ff !important; }

.jcf-select-text .jcf-option-pink,
.jcf-list .jcf-option-pink {
  color: #f618aa !important; }

.jcf-select-text .jcf-option-black,
.jcf-list .jcf-option-black {
  color: #3a424d !important; }

.jcf-select-drop .jcf-option-hideme {
  display: none; }

/* common styles */
.jcf-disabled {
  background: #eeeeee !important;
  cursor: not-allowed; }

.jcf-select {
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .jcf-select.jcf-focus {
    border-color: #00AEEF;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  display: none; }

.has-success .jcf-select {
  border-color: #4DB07A;
  -moz-box-shadow: 0 1px 1px rgba(77, 176, 122, 0.075);
  -webkit-box-shadow: 0 1px 1px rgba(77, 176, 122, 0.075);
  box-shadow: 0 1px 1px rgba(77, 176, 122, 0.075); }
  .has-success .jcf-select.jcf-focus {
    border-color: #4DB07A;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af; }

.has-error .jcf-select {
  border-color: #E54F26;
  -moz-box-shadow: 0 1px 1px rgba(229, 79, 38, 0.075);
  -webkit-box-shadow: 0 1px 1px rgba(229, 79, 38, 0.075);
  box-shadow: 0 1px 1px rgba(229, 79, 38, 0.075); }
  .has-error .jcf-select.jcf-focus {
    border-color: #E54F26;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d; }

.ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
  *text-indent: -9999px; }

.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: ''; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0; }

.invisible {
  visibility: hidden; }

.clearfix:before, .center-min-block__body:before, .min-list-info__item:before,
.clearfix:after,
.center-min-block__body:after,
.min-list-info__item:after {
  display: table;
  content: ' '; }

.clearfix:after, .center-min-block__body:after, .min-list-info__item:after {
  clear: both; }

.clearfix, .center-min-block__body, .min-list-info__item {
  *zoom: 1; }

@media print {
  * {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*-----------------------------------------*/
.user-status {
  border: none;
  min-width: 14px;
  height: 14px; }

@media (min-width: 768px) {
  .right-form-caption-block__wr {
    text-align: left; } }
.center-min-block__body {
  text-align: left; }

/*--------new styles----------------------*/
.company-details .form-group__checkbox_custom {
  display: none; }

.register_splash .company-details .form-group__checkbox_custom {
  display: block; }

.modal-body {
  padding-bottom: 20px; }

.info-block__text p {
  margin-bottom: 20px; }

.invite-pagination {
  margin-bottom: 0px; }

.btn:focus, .btn:active, a:focus, a:active {
  outline: none !important; }

.btn-primary:focus, .btn-primary:active {
  background: #404040; }

.user-status {
  margin-bottom: 3px; }

.form-group__checkbox_custom .checkbox {
  overflow: hidden;
  padding-top: 0px;
  margin-top: 20px; }

.form-group__checkbox_custom .checkbox label {
  display: block;
  font-size: 14px;
  line-height: 1.2em; }

.user-status_disable {
  background: #3a3b41; }

.main-counter__number, .statistics__general-information {
  font-size: initial; }

.help-block.help-blok__message_server-error {
  margin: 0 0 5px 10px;
  font-size: 14px;
  text-align: left; }

.user-dropdown__menu .dropdown__user-status {
  text-decoration: none;
  padding: 8px 20px;
  display: block;
  line-height: 1; }

.user-status_dd {
  margin-left: 2px; }

/*-----------------*/
