// ==========================================================================
//    Author's custom styles
// ==========================================================================
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    min-width: 32rem;
    min-height: 100%;
    margin: 0 auto;
    color: #272525;
    background: #f6f6f6;
}

.main-wrapper {
    background: #f6f6f6;
}

.panel-title {
    font-size: inherit;
}

.dropdown-menu {
    &:after {
        position: absolute;
        top: -10px;
        right: 10px;
        width: 0;
        height: 0;
        content: '';
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
    }
    &:before {
        position: absolute;
        top: -12px;
        right: 9px;
        width: 0;
        height: 0;
        content: '';
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent #d9d9d9 transparent;
    }
}

.close {
    outline: none;
}

.pagination {
    margin-top: 0;
}

.pagination__label {
    display: inline-block;
    float: left;
    padding: 6px 15px 0 0;
}

.pagination__counter {
    display: inline-block;
    float: left;
    padding: 6px 0 0 15px;
}

.form-horizontal .control-label {
    font-weight: normal;
    text-align: left;
}

.btn {
    font-weight: normal;
    text-transform: uppercase;
}

.btn-primary {
    &:hover {
        background: lighten($brand-primary, 25%);
    }
}

.modal-title {
    font-size: initial;
    font-weight: 400;
    text-transform: uppercase;
    color: #929395;
}

.modal-header {
    .modal__close {
        margin: -15px -10px 0 0;
    }
}

.ngdialog.ngdialog-theme-default {
    .ngdialog-content {
        font-size: 1em;
        padding: 0;
        background: transparent;
    }
    .ngdialog-close:before {
        color: #929395;
        right: 17px;
        top: 17px;
    }
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &.ng-modal-lg .ngdialog-content {
        width: $modal-lg;
    }
    &.ng-modal-md .ngdialog-content {
        width: $modal-md;
    }
    &.ng-modal-sm .ngdialog-content {
        width: $modal-sm;
    }
    .modal-header {
        padding-right: 35px;
    }
}

.ngdialog.ngdialog-theme-default.ng-modal-ml-460 .ngdialog-content {
    width: 460px;
}

.tabpanel-grid .btn-group_horizontal .btn {
    margin-bottom: 18px;
}

// custom-select
.bootstrap-select {
    > .btn {
        font-size: 14px;
        line-height: 1.42857;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 13px;
        text-transform: none;
        color: $input-color;
        border: 1px solid $input-border;
        border-radius: $input-border-radius;
        background-color: $input-bg;
        background-image: none;
        @include box-shadow(none);
        @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        &:focus {
            outline: none !important;
            border-color: #66afe9;
            outline: 0;
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
        }
    }
    &.open {
        > .btn {
            border-color: $input-border-focus;
            background-color: $input-bg;
            background-image: none;
            @include box-shadow(none);
        }
        .dropdown-menu {
            > li {
                > a {
                    &:hover,
                    &:focus {
                        color: #fff;
                        outline: none;
                        background-color: $brand-info;
                        @include box-shadow(none);
                    }
                }
            }
        }
    }
}

.has-error {
    .bootstrap-select {
        > .btn {
            border-color: $brand-danger;
        }
        &:focus {
            border-color: $brand-danger;
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d);

        }
    }
}

.has-success {
    .bootstrap-select {
        > .btn {
            border-color: $brand-success;
            &:focus {
                border-color: $brand-success;
                @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af);
            }
        }
    }
}


.bootstrap-select > .btn:focus {
    outline: none !important;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

 .has-error .bootstrap-select > .btn:focus {
     border-color: #f33000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d;
 }
 .has-success .bootstrap-select > .btn:focus {
     border-color: #3d8d61;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af;
 }

.server-error__list {
    padding: 0;
    list-style: none;
}

// end custom-select
.progress-default {
    height: 22px;
    border: 1px solid #e0e1e3;
    background: #fff;
    @include box-shadow(none);
}

.form-icon-group {
    position: relative;
    .form-control {
        padding-right: 40px;
    }
}

.form-icon {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    top: 50%;
    right: 0;
    display: block;
    width: 40px;
    margin-top: -10px;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
    color: #000;
}

.progress-bar-default {
    background: #e0e1e3;
    @include box-shadow(none);
}

//##################
// header
//##################
.main-header {
    padding: 5px 0;
    border-bottom: 1px solid #e2e4e7;
    background: #fff;
    // position: relative;
    // z-index: 3;
}

.sb-toggle-left {
    display: block;
    float: left;
    width: 30px;
    margin-top: 11px;
    margin-right: 10px;
    padding: 5px;
}

.navicon-line {
    display: block;
    height: 3px;
    margin-bottom: 3px;
    background: #000;
}

.logo {
    display: inline-block;
    max-width: 100%;
}

.logo-wrapper {
    float: left;
    width: 90px;
    margin: 0;
    padding: 0;
}

.need-accoun__link {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
    color: #272525;
}

.btn__sign-up {
    margin-left: 20px;
}

.authorisation__menu_log-out {
    float: right;
    padding: 10px 0;
    text-align: right;
}

.btn__sign-up {
    text-transform: uppercase;
}

.authorisation__menu_authorised {
    float: right;
    padding: 5px 0;
}

.user-alerts-wr {
    font-size: 18px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.user-alerts__dropdown {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    .i-bell_empty {
        position: relative;
        text-decoration: none;
        &:after {
            font-size: 16px;
            position: absolute;
            top: 1px;
            left: 1px;
            content: '\e60a';
            color: #fff;
        }
    }
}

.user-alerts__menu {
    right: 50%;
    left: inherit;
    min-width: 200px;
    margin-top: 15px;
    margin-right: -100px;
    padding: 10px;
    .close {
        margin-top: -13px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        line-height: 18px;
        display: block;
        margin-bottom: -1px;
        padding: 13px 10px;
        text-decoration: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        &:hover {
            border-top-color: #e2e4e7;
            border-bottom-color: #e2e4e7;
            background-color: #f2f2f2;
        }
    }
}

[class*='alert__massage'] {
    padding-left: 25px;
}

.alert__massage-error {
    background: url(../img/error.png) left top no-repeat;
}

.alert__massage-edded {
    background: url(../img/edded.png) left top no-repeat;
}

.alert__massage-approved {
    background: url(../img/approved.png) left top no-repeat;
}

.notifications_dd {
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #929395;
}

.alert-count {
    padding: 4px 7px;
    vertical-align: middle;
    background-color: $brand-info;
}

.user-avatar-wr {
    position: relative;
    float: left;
    margin-right: 5px;
}

.user-avatar {
    display: block;
    overflow: hidden;
    width: 35px;
    height: 35px;
    img {
        max-width: 100%;
        height: auto;
    }
}

.user-name {
    display: none;
}

.user-dropdown {
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-top: 5px;
    padding: 7px 8px;
    color: #231f20;
}

.user-dropdown .user-dropdown__btn {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.user-dropdown__menu {
    right: 0;
    left: inherit;
}

.user-dropdown__carret {
    font-size: 7px;
}

.user-status {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    vertical-align: middle;
    border: 1px solid #fff;
    background-color: #efa73e;
    @include border-radius(16px);
}

.user-status_error {
    background: $brand-danger;
}

.user-status_new-reg {
    background: $brand-success;
}

.user-status_dd {
    margin-right: 8px;
}

.user-status_avatar {
    position: absolute;
    position: absolute;
    top: -5px;
    top: -5px;
    right: -5px;
    right: -5px;
}

.user-dropdown__menu {
    min-width: 210px;
    margin-top: 10px;
    a {
        line-height: 1;
        display: block;
        padding: 8px 20px;
        text-decoration: none;
        &:hover {
            background-color: #f2f2f2;
        }
    }
    ul {
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
    .icon {
        font-size: 18px;
        margin-right: 10px;
        vertical-align: text-bottom;
    }
}

.dropdown__user-status {
    border-bottom: 1px solid #ddd;
}

//##################
// main-block
//##################
.js-minHt {
    min-height: 150px;
}

.js .js-minHt {
    min-height: 1000px;
}

.main-content {
    > .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.main-container {
    margin: 0 15px;
}

.page-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
    padding-top: 10px;
    text-transform: uppercase;
}

.one__main-stats {
    border-top: 1px solid #e0e1e3;
    &:first-child {
        border-top: none;
    }
}

.main-counter__text {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.statistics__title {
    font-size: initial;
    font-weight: normal;
    margin: 0 0 20px;
    text-transform: uppercase;
    color: #fff;
}

.main-counter__icon-wr {
    font-size: 25px;
    margin-right: 15px;
    vertical-align: middle;
    color: #000;
}

.main-counter__text-wr {
    overflow: hidden;
}

.main-counter__number {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    float: right;
    text-transform: uppercase;
    color: #272525;
}

.statistics__general-information {
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    float: left;
    white-space: nowrap;
}

.statistics__general-information-value {
    margin-left: 5px;
    color: #272525;
}

.min-section {
    margin-bottom: 20px;
}

.min-section__br-bg {
    border: 1px solid #e0e1e3;
    border-radius: 2px;
    // overflow: hidden;
    background: #fff;
}

.min-section__br-bg_info {
    background-color: $brand-info;
}

.min-section__br-bg_primary-light {
    color: #fff;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: ($grid-gutter-width / 2);
        right: ($grid-gutter-width / 2);
        top: 0;
        bottom: 0;
        background-color: $brand-primary-light;
        display: block;
        z-index: 1;
    }
    .section-z-index {
        position: relative;
        z-index: 2;
    }
    .min-section__title {
        color: #fff;
    }
}

.info-block {
    border-left: 5px solid $brand-info;
    .close {
        margin-top: -10px;
    }
}

.min-section__header {
    padding: 0 0 20px;
    &.min-section__header_black {
        padding: 20px;
        margin: -20px -20px 0;
        .min-section__title {
            color: #fff;
        }
        background: #3a3b41;
    }
}

.min-section__title {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
    color: #000;
}

.min-section__footer-link {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    @extend .min-section__title;
}

.min-section__pd {
    padding: 20px;
}

.min-section__list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        padding: 15px 0;
        border-top: 1px solid #e0e1e3;
        &:first-child {
            border: none;
        }
        .first-list__icon {
            display: inline-block;
            width: 20px;
            margin-right: 10px;
            text-align: center;
            vertical-align: middle;
        }
    }
}

.i-more_m-l {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.chart__info-col {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    overflow-x: hidden; //float clear
    margin-bottom: 10px;
    padding: 3px 0;
    text-transform: uppercase;
    .chart__info-col-label {
        float: left;
        width: 70%;
        padding: 0 10px 0 15px;
        border-left: 5px solid transparent;
        &.chart__color-info {
            border-color: $brand-info;
        }
        &.chart__color-default {
            border-color: $btn-default-bg;
        }
        &.chart__color-primary {
            border-color: $brand-primary;
        }
        &.chart__color-danger {
            border-color: $brand-danger;
        }
    }
}

.chart__block {
    margin-bottom: 10px;
}

.chart__info-col-value {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    float: left;
    width: 30%;
    text-transform: uppercase;
}

.chart__total-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
}

.chart__total-value {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}

.news-and-updates__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news-and-updates__list-item {
    margin-bottom: 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #fff;
    &:last-child {
        border: none;
    }
}

.news-and-updates__list-item-inner {
    padding: 0 20px 0 15px;
    border-left: 5px solid $brand-info;
}

.news-and-updates__item-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.news-and-updates__item-text {
    p {
        margin: 0;
    }
    a {
        color: $brand-info;
    }
}

.accordion_black {
    .panel {
        background: #fff;
    }
    .panel-heading {
        a {
            &,
            &.collapsed {
                background: #3a3b41;
                color: #fff;
            }
        }
    }
    .panel-body {
        @extend .info-block;
    }
}

.section_btn-bottomm-right-wr {
    position: relative;
}

.btn_bottom-right {
    float: right;
    min-width: 120px;
}

@media (min-width: $screen-lg) {
    .btn_bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

//##################
// account
//##################
.tabpanel_inner-width {
    max-width: 620px;
}

.form-group__some-controls {
    margin-bottom: 0;
}

.form-group__inner,
.form-group {
    margin-bottom: $form-group-margin-bottom;
    &.has-feedback {
        margin-bottom: 10px;
    }
    .control-label {
        color: inherit;
    }
}

.account__top-allert {
    max-width: 350px;
    margin: 15px auto;
    @include border-radius(4px);
    @include box-shadow(0 0 9.9px .1px rgba(0, 0, 0, .1));
    .icon {
        margin-right: 10px;
        vertical-align: middle;
    }
}

//##################
// sign-up-block
//##################
.center-min-block__header-icon {
    margin-right: 15px;
}

.center-sm-b {
    max-width: 560px;
}

.center-min-block__header-title_text {
    font-size: 19px;
    font-weight: normal;
    display: block;
    padding-top: 17px;
}

.center-min-block__header-icon_wr {
    line-height: 50px;
}

.center-min-block__header {
    overflow: hidden;
    margin-bottom: 20px;
}

.center-min-block__header-title {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    //float: left;
    min-height: 50px;
    margin: 0;
    text-transform: uppercase;
    color: #272525;
}

.center-min-block {
    margin: 30px auto;
    border: 1px solid #e0e1e3;
    background-color: #fff;
    @include border-radius(2px);
    @include box-shadow(0 0 9.9px .1px rgba(0, 0, 0, .1));
}

.center-min-block__body {
    font-weight: 400;
    line-height: 20px;
    padding: 30px;
    color: #272525;
    text-align: justify;
    @extend .clearfix;
}

.left-form-block__wr {
    // overflow: hidden;
    position: relative;
}

.right-form-caption-block__wr {
    margin: 0 -30px 20px;
    padding: 30px;
    background-color: #3A3B41;
}

.center-md-bl {
    max-width: 950px;
}

.center-rel-wr__for-right-hint {
    position: relative;
    z-index: 2;
}

.bottom-help-block {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    overflow: hidden;
    color: #ababae;
}

.help-block {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    overflow: hidden;
    color: #ababae;
}

.bottom-help-block__link {
    text-decoration: none;
    // color: inherit;
}

.sign-up-caption {
    font-size: 14px;
    font-weight: 400;
    // line-height: 16px;
    position: relative;
    z-index: 2;
    color: #fff;
    p {
        margin-bottom: 20px;
        color: #fff;
    }
    a {
        font-weight: 400;
        color: #00aeef;
    }
    ul {
        margin: 5px 0;
        padding: 0;
        list-style: none;
        li {
            position: relative;
            padding-left: 15px;
            &:after {
                position: absolute;
                top: 5px;
                left: 0;
                display: inline-block;
                width: 5px;
                height: 8px;
                content: '';
                background-color: #00aeef;
            }
        }
    }
}

.sign-up-caption__title {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px;
}

.sign-up__form-btn_wr {
    float: right;
    margin-left: 15px;
}

.sign-up__dear-text-block {
    overflow: hidden;
}

.dear-text__title {
    font-size: 14px;
    font-weight: 700;
}

//##################
// FAQ
//##################
.faq-accordion__wr {
    .panel-body {
        font-size: 14px;
        p {
            line-height: 20px;
        }
    }
}

.accordion_no-pad {
    margin: 0 -20px -20px;
}

.quick-guide__list-item {
    margin-bottom: 10px;
}

.quick-guide__list-link {
    font-size: 16px;
    line-height: 22px;
    position: relative;
    display: block;
    padding: 20px 40px 20px 20px;
    border: 1px solid #000;
    &:after {
        font-family: 'Prego-font-icon';
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -5px;
        content: '\e616';
        text-align: center;
        text-transform: none;
        @include transition(all .2s linear);
        speak: none;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon {
        // display: inline-block;
        // float: left;
        line-height: 22px;
        position: absolute;
        top: 50%;
        width: 25px;
        margin-top: -11px;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
    }
    .fs-min {
        font-size: 18px;
    }
    .fs-big {
        font-size: 22px;
    }
    span {
        display: block;
        overflow: hidden;
        padding-left: 35px;
    }
}

.list_style {
    padding: 0;
    padding: 0;
    list-style: none;
    > li {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e2e2e3;
        &:last-child {
            border-bottom: none;
        }
    }
    &.list_style-border {
        > li {
            &:last-child {
                border-bottom: 1px solid #e2e2e3;
            }
            &:first-child {
                padding-top: 20px;
                border-top: 1px solid #e2e2e3;
            }
        }
    }
}

.min-list-info {
    margin: 0;
    padding: 0;
    list-style: none;
}

.min-list-info__item {
    line-height: 1.3em;
    margin-bottom: 5px;
    @extend .clearfix;
}

.min-list-info__label {
    float: left;
    width: 120px;
}

.min-list-info__value {
    margin-left: 130px;
    span {
        font-size: 13px;
        font-weight: 400;
        margin-left: 10px;
        opacity: .6;
        color: #3a3b41;
    }
}

.item__title {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px;
    color: #000;
    span {
        font-size: 13px;
        font-weight: 400;
        margin-left: 10px;
        color: #3a3b41;
        @include opacity(.6);
    }
}

.item-title__id {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #000;
}

.item-title__text,
.item__text {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.item__text_min {
    font-size: 14px;
    color: lighten(#3a3b41, 20%);
}

.item__text_mg-top {
    margin-top: 5px;
}

.filter-input {
    position: relative;
    width: 100%;
    color: #cccdd0;
    .form-control {
        padding-left: 35px;
    }
    .icon {
        font-size: 20px;
        line-height: 20px;
        top: 50%;
        left: 0;
        margin-top: -10px;
    }
    &.filter-input_right {
        .form-control {
            padding-right: 35px;
            padding-left: 13px;
        }
        .icon {
            left: inherit;
        }
    }
}

.nav-tabs {
    &.nav-tub_custom {
        border-bottom: none;
    }
}

.min-section__pd-bt-none {
    padding-bottom: 0;
}

.btn__invite-members {
    margin-bottom: 20px;
}

.invitations-send__text {
    font-size: 16px;
    padding: 30px 0 0;
    text-align: center;
}

.total-groups {
    padding: 8px 0;
}

.one-totla {
    display: inline-block;
    margin-right: 20px;
}

.modal-footer.invitations-send__footer {
    text-align: center;
}

.join-requests__list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
    padding: 0;
    list-style: none;
}

.join-requests__list-item {
    padding: 15px 0;
    border-top: 1px solid #e0e1e3;
}

.join-list__left-block {
    // color: #969595;
    font-size: 14px;
    font-weight: 400;
}

.user-info__name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #272525;
}

.join-list__right-block {
    padding-top: 20px;
}

.btn-group_horizontal {
    .btn {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-badge {
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
    min-width: 21px;
    height: 21px;
    margin-left: 10px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #707172;
    @include border-radius(10px);
}

.main-filter-block {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e0e1e3;
}

.min-section__header_bottom-line {
    @extend .main-filter-block;
}

.main-filter-block__counter {
    line-height: 22px;
    padding: 6px 0;
}

.new-payout-select__wr {
    padding-left: 20px;
}

.grid-plus-btn,
.grid-del-btn {
    font-size: 18px;
    line-height: 18px;
    display: block;
    text-align: center;
    color: #929395;
}

.min-title {
    font-size: 14px;
    font-weight: 700;
}

.filter-input__btn {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 7px 0;
    text-decoration: underline;
    color: #929395;
    .icon {
        font-size: 20px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
    }
}

.i-download {
    &:before {
        display: inline-block;
        width: 17px;
        height: 20px;
        content: '';
        background: url(../img/upload-img.png) center center no-repeat;
    }
}

// #############
// ng-datepicker
// #############
.input-ng-datepicker {
    position: relative;
    .form-control {
        padding-right: 35px;
    }
    .ng-datepicker-btn {
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        width: 35px;
        margin-top: -11px;
        padding: 0;
        text-align: center;
    }
    .btn {
        font-weight: normal;
        @include box-shadow(none);
        &:focus {
            outline: none;
        }
    }
    thead {
        .btn {
            border: none;
            background: transparent;
        }
    }
    .dropdown-menu {
        right: 0;
        left: inherit !important;
        margin: 0;
        padding: 0;
        outline: none;
    }
    .ng-isolate-scope {
        table {
            outline: none;
            @include box-shadow(none);
        }
    }
    .text-info {
        color: #fff;
    }
}

// #############
// ned ng-datepicker
// #############
.loader-container {
    position: relative;
}

.loader-bg {
    position: relative;
    z-index: 1000;
    min-height: 100px;
    .min-section__title_load-show {
        position: relative;
        z-index: 1002;
    }
}

.loader-wr {
    position: relative;
    position: absolute;
    z-index: 1000;
    z-index: 1001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    background: rgba(#fff, .8);
    @include transition(all .5s ease);
    &.loader-wr_sb {
        z-index: 1002;
        top: -20px;
        bottom: -20px;
        .loader-2 {
            position: fixed;
        }
    }
}

.loader {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 78px;
    height: 66px;
    margin-top: -33px;
    margin-left: -39px;
    background: url(../img/loader-bottom.png) left top no-repeat;
    &:after {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        content: '';
        background: url(../img/loader-top.png) left top no-repeat;
        @include animation(loader 2s ease 1s infinite alternate);
    }
}

@include keyframes(loader) {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.loader-2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 0 2em;
    // padding: 1em;
    margin: 0 auto;
    margin-top: -60px;
    margin-left: -60px;
    text-align: center;
    vertical-align: top;
    @include transition(all .5s ease);
    // background: url(../img/loader-bg.png) center center no-repeat;
    // background-size: 40%;
    &.loader-2_min {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
    }
}

.toggled {
    .loader-wr_sb {
        .loader-2 {
            margin-left: 190px;
        }
    }
}

@media (min-width: $screen-sm) {
    .loader-wr_sb {
        &.loader-wr {
            top: -25px;
            bottom: -25px;
        }
        .loader-2 {
            margin-top: -30px;
            margin-left: 70px;
        }
    }
}

.coming-soon__wr {
    max-width: 500px;
    margin: 40px auto;
    padding: 40px;
    background: #fff;
}

.coming-soon {
    font-size: 40px;
    font-weight: 100;
    // text-transform: uppercase;
    text-align: center;
    color: #000;
    span {
        color: $brand-danger;
        // font-weight: 400;
    }
}

.grid-massage {
    padding: 20px 10px;
    text-align: center;
    color: #929395;
}

.i-group_add {
    font-size: 1.3em;
}

//##################
// footer
//##################
.main-footer {
    padding: 10px 0;
    border-top: 1px solid #e2e4e7;
    background: #fff;
}

.copyright-block__text {
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
    color: #ababae;
}

.footer-nav {
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-nav__li {
    font-size: 13px;
    display: inline-block;
    color: #ababae;
    &:before {
        margin-right: 10px;
        margin-left: 10px;
        content: '|';
    }
    &:first-child {
        &:before {
            display: none;
        }
    }
}

.footer-nav__link {
    font-weight: 400;
    color: inherit;
}

.gridStyle .disabled .ngSelectionCheckbox,
.gridStyle .disabled .grid-plus-btn {
    display: none;
}

// form-helper
::-webkit-input-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* WebKit browsers */
    color: #999;
}

:-moz-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    // /* Internet Explorer 10+ */
    color: #999;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.main-account__section .company-details .form-group p.bottom-help-block {
    display: none;
}

.register_splash .btn-group_horizontal .btn {
    margin-right: 0px;
}

.bs-searchbox {
    opacity: 0;
    position: absolute;
}

.dropdown-menu li.hidden {
    display: block !important;
    visibility: visible;
}

.dropdown-menu li.no-results {
    display: none !important;
}

.box-message {
    padding: 0 10px;
    text-align: center;
    color: #929395;
}

.dropdown-menu {
    z-index: 1001;
}

.btn-form-bottom {
    padding-top: 20px;
}

.btn-register-wr {
    display: none !important;
}

.register_splash .btn-register-wr {
    display: block !important;
}

.center-lg-bl {
    max-width: 1000px;
}

.register_splash .additional-field {
    display: none;
}
