/* scrollbars */

.scrollable-area {
  border: 1px solid #a7a7a7;
  border-radius: 4px;
  color: #3a424d;
  font-size: 15px;
  line-height: 23px;
}

.scrollable-area .jcf-scrollable {
  height: 388px;
  padding: 0 18px 15px 0;
  width: 100% !important;
}

.scrollable-area .jcf-scrollbar-horizontal {
  display: none !important;
}

.scrollable-area img {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 11px;
}

.scrollable-area .text-holder {
  padding: 0 17px;
  margin: 0;
  line-height: 23px;
  color: #4b4a4a;
}

.scrollable-area .text-holder p {
  margin: 0 0 24px;
}

.scrollable-area .jcf-scrollbar-vertical {
  top: 12px;
  bottom: 12px;
  height: auto !important;
}

.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  color: #79d1f4;
}

.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: rgba(#a2b3c1, .9);
  // background: #6dcff6;
  // opacity: .9;
  border-radius: 4px;
}

.scrollable-area .jcf-scrollbar-vertical .jcf-scrollbar-slider {
  // background: rgba(167, 167, 167, .3);
  border-radius: 4px;
}

.jcf-scrollable-wrapper {
  position: relative;
}

.jcf-scrollbar-vertical {
  position: absolute;
  cursor: default;
  background: #437BA3;
  background: rgba(#000, 0.2);
  border-radius: 6px;
  width: 12px;
  bottom: 0;
  right: 3px;
  top: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  color: #00aeef;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  position: absolute;
  height: 5px;
  width: 10px;
  left: 0;
  top: -8px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  content: "\f106";
  display: block;
  height: 5px;
  width: 10px;
  font-size: 5px;
  color: #fff;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  line-height: 1;
  opacity: .5;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  top: auto !important;
  bottom: -8px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  content: "\f107";
}

.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #fff;
}

.jcf-select-drop-content .jcf-scrollbar-vertical .jcf-scrollbar-slider {
  // background: #cfe5e8;
  border-radius: 4px;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: rgba($brand-primary, .9);
  height: 1px;
  border-radius: 4px;
  width: 6px;
  left: 3px;
  max-height: 100%;
}

.jcf-scrollbar-vertical .jcf-scrollbar-slider {
  height: 100% !important;
}

.jcf-scrollbar-horizontal {
  position: absolute;
  right: auto;
  top: auto;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 12px;
  background: #437BA3;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background: #fff;
  height: 10px;
  width: 10px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  left: auto;
  right: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 6px;
  top: 3px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  background: rgba(162, 179, 193, 0.9);
  border-radius: 4px;
  position: absolute;
  height: 6px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: #e3e3e3;
}


/* select */

// .jcf-select.jcf-drop-active {
//   border-radius: 4px 4px 0 0;
//   // border-bottom: 1px solid #fff;
//   // border-top: none;
// }

// .jcf-select.jcf-drop-active.jcf-drop-flipped {
//   border-radius: 0 0 4px 4px;
//   // border-top: 1px solid #fff;
// }

// .jcf-select.jcf-drop-active:before {
//   border-color: $brand-info transparent transparent;
// }

// .jcf-select.jcf-disabled:before {
//   border-color: #cecece transparent transparent;
// }

.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}

.jcf-select {
  display: block;
  position: relative;
  border: 1px solid $input-border;
  margin: 0;
  text-align: left;
  width: 100%;
  height: $input-height-base;
  background: #fff;
  cursor: default;
  @include border-radius($input-border-radius);
  .form-inline & {
    display: inline-block;
    width: auto;
    min-width: 130px;
  }
  .jcf-select-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: $font-size-base;
    color: $input-color;
    line-height: 1.6;
    height: $input-height-base;
    font-weight: normal;
    margin: 0;
    padding: $padding-base-vertical 30px $padding-base-vertical $padding-base-horizontal;
  }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   margin-top: -3px;
  //   right: 18px;
  //   border-style: solid;
  //   border-width: 6px 5px;
  //   border-color: $input-border transparent transparent;
  // }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 12px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-style: solid;
    border-width: 4px;
    border-color: #555555 transparent transparent;
  }
  &.jcf-select-input-sm {
    height: $input-height-small - $padding-small-vertical;
    .jcf-select-text {
      height: $input-height-small - $padding-small-vertical;
      padding: 0 20px $padding-small-vertical $padding-small-horizontal;
    }
    &:before {
      right: 5px;
    }
  }
}

.jcf-select.jcf-disabled {
  // opacity: .32;
}

// .jcf-select.jcf-disabled .jcf-select-text {
//   color: #fff;
// }

.mac .jcf-select .jcf-select-text {
  padding: 2px 0 0;
}

.jcf-list li {
  padding: 0;
}

.jcf-list li:before {
  display: none;
}

.jcf-select .jcf-select-text img,
.jcf-list .jcf-option img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 24px;
}

.jcf-select .jcf-select-opener {
  position: absolute;
  text-align: center;
  width: 43px;
  bottom: 0;
  right: 0;
  top: 0;
}

body > .jcf-select-drop {
  position: absolute;
  // margin: -4px 0 0;
  z-index: 9999;
}

// body > .jcf-select-drop.jcf-drop-flipped {
//     margin: 1px 0 0;
// }
.jcf-select .jcf-select-drop {
  position: absolute;
  margin-top: 2px;
  // border-radius: 0 0 4px 4px;
  overflow: hidden;
  z-index: 9999;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
}

.jcf-select .jcf-select-drop.jcf-drop-flipped {
  margin: 0 0 2px;
}

.jcf-select-drop .jcf-list {
  // background: #fff;
}

.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
  // border: 1px solid #fff;
  overflow: hidden;
  // border-radius: 0 0 4px 4px;
  padding: 0;
  background: #fff;
}

// .jcf-select-drop.jcf-drop-flipped .jcf-select-drop-content {
//   border-radius: 4px 4px 0 0;
//   padding-top: 15px;
// }

// .jcf-drop-active {
//   color: $brand-primary;
//   background: #fff;
//   background: rgba(#fff, .8);
//   border-width: 2px 2px 0;
// }

// .jcf-drop-active .jcf-select-text {
//   color: $brand-primary !important;
//   font-size: 16px !important;
//   text-align: left !important;
//   padding-left: $padding-base-horizontal !important;
//   padding-right: $padding-base-horizontal !important;
// }

.jcf-list-box {
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 2px 0;
  background: #fff;
  border: 1px solid #c1c7cb;
}

.jcf-list-box.jcf-focus {
  border-color: #95c8f7;
}

.jcf-list {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: none;
  line-height: 18px;
  font-size: 14px;
  width: 100%;
}

.jcf-select-drop-content .jcf-list .jcf-list-content {
  max-height: 140px !important;
  padding: 0;
}

.jcf-list .jcf-list-content {
  vertical-align: top;
  display: inline-block;
  overflow: auto;
  max-height: 242px !important;
  width: 100%;
}

.jcf-select-drop .jcf-list .jcf-list-content {
  // background: #fff;
}

.jcf-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jcf-list ul li {
  overflow: hidden;
  display: block;
}

.jcf-list .jcf-overflow {
  overflow: auto;
}

.jcf-list .jcf-option {
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  display: block;
  font-size: $font-size-base;
  padding: 8px $padding-base-horizontal;
  color: #3f433f;
  // font-family: $main-font_light;
  height: 1%;
  text-align: left;
  text-overflow: ellipsis;
  // text-transform: uppercase;
}

.jcf-select-drop-content .jcf-list .jcf-option {
  color: $brand-primary;
  padding: 5px $padding-base-horizontal;
}

.jcf-list .jcf-disabled {
  color: #5aa4af !important;
  background: none !important;
  opacity: 1;
}

.jcf-list-box .jcf-selected {
  background-color: #f5f6f7;
}

.jcf-list-box ul ul .jcf-selected {
  position: relative;
}

.jcf-list ul ul .jcf-option.jcf-selected:before,
.jcf-list-box ul ul .jcf-selected:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 10px;
  top: 50%;
  left: 40px;
  margin: -5px 0 0 -6px;
  border: 1px solid #fff;
  border-width: 0 0 2px 2px;
  @include transform(rotate(-45deg));
}

.jcf-list ul ul .jcf-option.jcf-selected:before {
  left: 42px;
}

.jcf-select-drop-content .jcf-list ul ul .jcf-option.jcf-selected:before {
  left: 50px;
}

.jcf-select-drop .jcf-selected,
.jcf-select-drop .jcf-hover {
  background: $brand-info;
  color: #fff !important;
}

.jcf-list .jcf-optgroup-caption {
  display: block;
  padding: 3px 20px;
  cursor: default;
  font-weight: 600;
  text-align: left;
  color: #fff;
}

.jcf-select-drop-content .jcf-list .jcf-optgroup-caption {
  padding: 3px 25px;
}

.jcf-select-drop-content .jcf-list .jcf-optgroup-caption {
  color: $brand-info;
}

.jcf-select-drop-content .jcf-list .jcf-optgroup .jcf-option {
  padding-left: 62px;
}

.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 55px;
}

.jcf-textarea {
  padding: 3px 0;
  border-radius: 4px;
  border: 1px solid #a7a7a7;
  display: block;
  line-height: 23px;
  position: relative;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  resize: none;
}

.jcf-textarea.jcf-focus {
  border-color: #a5cdf1;
  box-shadow: 0 0 4px #89bfef;
}

.jcf-textarea .jcf-scrollbar-vertical {
  top: 12px;
  bottom: 12px;
  height: auto !important;
}

.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-dec:before,
.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-inc:before {
  color: #79d1f4;
}

.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #6dcff6;
  opacity: .9;
  border-radius: 4px;
}

.jcf-textarea .jcf-scrollbar-vertical .jcf-scrollbar-slider {
  // background: rgba(167, 167, 167, .3);
  border-radius: 4px;
}

.jcf-textarea .jcf-scrollbar-horizontal {
  display: none;
  height: 0;
}

.jcf-textarea textarea {
  padding: 13px 30px 13px 17px;
  border: none;
  margin: 0;
  width: 100% !important;
  height: 390px;
  line-height: 23px;
  color: #4b4a4a;
  font-weight: 400;
  outline: none;
  min-height: 195px;
  resize: none;
}

.jcf-textarea .jcf-scrollable-wrapper {
  width: 100% !important;
  height: 382px !important;
}

.jcf-textarea .jcf-resize {
  display: none;
  position: absolute;
  text-align: center;
  cursor: se-resize;
  border-style: solid;
  border-width: 5px;
  border-color: transparent #d2e0ed #d2e0ed transparent;
  bottom: 3px;
  right: 5px;
}

.jcf-disabled {
  // opacity: .4;
}

.jcf-select-text .jcf-option-red,
.jcf-list .jcf-option-red {
  color: #f72525 !important;
}

.jcf-select-text .jcf-option-green,
.jcf-list .jcf-option-green {
  color: #61bc00 !important;
}

.jcf-select-text .jcf-option-blue,
.jcf-list .jcf-option-blue {
  color: #30c2ff !important;
}

.jcf-select-text .jcf-option-pink,
.jcf-list .jcf-option-pink {
  color: #f618aa !important;
}

.jcf-select-text .jcf-option-black,
.jcf-list .jcf-option-black {
  color: #3a424d !important;
}

.jcf-select-drop .jcf-option-hideme {
  display: none;
}


/* common styles */

.jcf-disabled {
  background: #eeeeee !important;
  cursor: not-allowed;
}
.jcf-select {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  &.jcf-focus {
    border-color: $brand-info;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
  }
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  display: none;
}

.has-success {
  .jcf-select {
    border-color: $brand-success;
    @include box-shadow(0 1px 1px rgba($brand-success, 0.075));
    &.jcf-focus {
      border-color: $brand-success;
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #93d0af);
    }
  }
}

.has-error {
  .jcf-select {
    border-color: $brand-danger;
    @include box-shadow(0 1px 1px rgba($brand-danger, 0.075));
    &.jcf-focus {
      border-color: $brand-danger;
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffa48d);
    }
  }
}

// .bootstrap-select > .btn:focus {
//     outline: none !important;
//     border-color: #66afe9;
//     outline: 0;
//     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
// }
