//
// Panels
// --------------------------------------------------


// Base class
.panel {
  margin-top: 0;
  border: 1px solid transparent;
  border-bottom: none;
  @include box-shadow(none);
  // &:first-child {
  //   border: none;
  // }
  p {
    margin-bottom: 10px;
  }
}

.panel-heading {
  a {
    text-decoration: none;
    display: block;
    padding: 15px 40px 15px 20px;
    position: relative;
    // background: #f5f5f5;
    @include transition(all .2s linear);
    &:after{
      @include transition(all .2s linear);
      content: "\e608";
      position: absolute;
      right: 20px;
      top: 17px;
      font-family: 'Prego-font-icon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 6px;
      text-align: center;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &.collapsed {
      // background: #fff;
      &:after{
        @include transform(rotate(180deg));
      }
    }
  }
}

.panel-default {
  .panel-heading {
    a {
      background: #f5f5f5;
      &.collapsed {
        background: #fff;
      }
    }
  }
}

.lt-ie9 {
  .panel-heading {
    a {
      &.collapsed {
        &:after{
          content: "\e609";
        }
      }
    }
  }
}

.panel-group {
  margin-bottom: $line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    + .panel {
      margin-top: 0;
    }
  }
}
