// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  > li {
    float: none;
    // Make the list-items overlay the bottom border
    margin-bottom: 10px;

    // Actual tabs (as links)
    > a {
      // font-weight: bold;
      //margin-right: 30px;
      padding: 7px 0 3px;
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      color: #ababae;
      &:hover {
        border-color: $nav-tabs-active-link-hover-color;
        color: $nav-tabs-active-link-hover-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: none;
        border-bottom: 2px solid $nav-tabs-active-link-hover-border-color;
      }
    }
  }
}