@import 'compass';
// @import "sprite";
@import 'fonts';
@import 'variables';
@import 'mixins';
// @import "grid";
// HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
// 
//   What follows is the result of much research on cross-browser styling.
//   Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
//   Kroc Camen, and the H5BP dev community and team.
//  
// 
//  ==========================================================================
//    Base styles: opinionated defaults
//  ========================================================================== 
// 
html,
button,
input,
select,
textarea
{
    color: #222;
}
// 
// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
// Customize the background color to match your design.
// 
::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}
::selection
{
    background: #b3d4fc;
    text-shadow: none;
}
// 
// A better looking default horizontal rule
// 
hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #dbdfdb;
}
// 
// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
// 
audio,
canvas,
img,
video
{
    vertical-align: middle;
}
// 
// Remove default fieldset styles.
// 
fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
}
// 
// Allow only vertical resizing of textareas.
// 
textarea
{
    resize: vertical;
}
// ==========================================================================
//    Browse Happy prompt
// ========================================================================== 
.browsehappy
{
    margin: .2em 0;
    padding: .2em 0;

    color: #000;
    background: #ccc;
}
//   ==========================================================================
//   Autor style
//   ========================================================================== 


@import 'left-menu';

@import 'tabs';

@import 'panels';

@import 'base';

@import 'media';

@import 'jcf';


// ==========================================================================
//    Helper classes
// ========================================================================== 
// 
// Image replacement
// 
.ir
{
    overflow: hidden;

    border: 0;
    background-color: transparent;
    // /* IE 6/7 fallback */

    *text-indent: -9999px;
}
.ir:before
{
    display: block;

    width: 0;
    height: 150%;

    content: '';
}
// 
// Hide from both screenreaders and browsers: h5bp.com/u
// 
.hidden
{
    display: none !important;
    visibility: hidden;
}
// 
// Hide only visually, but have it available for screenreaders: h5bp.com/v
// 
.visuallyhidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}
// 
// Extends the .visuallyhidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
// 
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
{
    position: static;

    overflow: visible;
    clip: auto;

    width: auto;
    height: auto;
    margin: 0;
}
// 
// Hide visually and from screenreaders, but maintain layout
// 
.invisible
{
    visibility: hidden;
}
// 
// Clearfix: contain floats
// 
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
// `contenteditable` attribute is included anywhere else in the document.
// Otherwise it causes space to appear at the top and bottom of elements
// that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
// `:before` to contain the top-margins of child elements.
// 
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    clear: both;
}
// 
// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
// 
.clearfix
{
    *zoom: 1;
}
// ==========================================================================
//    EXAMPLE Media Queries for Responsive Design.
//    These examples override the primary ('mobile first') styles.
//    Modify as content requires.
// ========================================================================== 
@media only screen and (min-width: 35em)
{
    // Style adjustments for viewports that meet the condition
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)
{
    // Style adjustments for high resolution devices
}
// ==========================================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================
@media print
{
    *
    {
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }
    // 
    // Don't show links for images, or javascript/internal links
    // 
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after
    {
        content: '';
    }
    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr,
    img
    {
        page-break-inside: avoid;
    }
    img
    {
        max-width: 100% !important;
    }
    @page
    {
        margin: .5cm;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
}



/*-----------------------------------------*/
.user-status {
    border: none;
    min-width: 14px;
    height: 14px;
}

@media (min-width: 768px) {
    .right-form-caption-block__wr {
        text-align: left;
    }
}

.center-min-block__body {
    text-align: left;
}

/*--------new styles----------------------*/
.company-details .form-group__checkbox_custom {
    display: none;
}

.register_splash .company-details .form-group__checkbox_custom {
    display: block;
}

.modal-body {
    padding-bottom: 20px;
}

.info-block__text p {
    margin-bottom: 20px;
}

.invite-pagination {
    margin-bottom: 0px;
}

.btn:focus, .btn:active, a:focus, a:active {
    outline: none !important;
}

.btn-primary:focus, .btn-primary:active {
    background: #404040;
}

.user-status {
    margin-bottom: 3px;
}

.form-group__checkbox_custom .checkbox {
    overflow: hidden;
    padding-top: 0px;
    margin-top: 20px;
}

    .form-group__checkbox_custom .checkbox label {
        display: block;
        font-size: 14px;
        line-height: 1.2em;
    }
 
.user-status_disable {
    background: #3a3b41;
}

.main-counter__number, .statistics__general-information {
    font-size: initial;
}

.help-block.help-blok__message_server-error {
    margin: 0 0 5px 10px;
    font-size: 14px;
    text-align: left;
}

.user-dropdown__menu .dropdown__user-status {
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    line-height: 1;
}

.user-status_dd {
    margin-left: 2px;
}
/*-----------------*/
