
<div ng-grid-footer="" class="ng-scope">
  <div ng-show="showFooter" ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}" ng-style="footerStyle()" class="ngFooterPanel ng-scope clearfix">
    <div ng-show="enablePaging" ng-class="{'ngNoMultiSelect': !multiSelect}" class="ngPagerContainer ngNoMultiSelect">
      <div class="ngPagerControl">Page
        <div class="ngPagerControl__form-gloup">
          <button type="button" ng-click="pageBackward()" ng-disabled="cantPageBackward()" title="Previous Page" class="btn"><i class="icon i-arrow-left"></i></button>
          <input value="{{pagingOptions.currentPage}}" class="form-control"/>
          <button type="button" ng-click="pageForward()" ng-disabled="cantPageForward()" title="Next Page" disabled="disabled" class="btn"><i class="icon i-arrow-right"></i></button>
        </div>of {{maxPages()}}
      </div>
    </div>
    <div class="ngRowCountPicker"><span class="ngLabel">Show</span>
      <select ng-model="pagingOptions.pageSize" class="form-control ngRowCountPicker__f-c">
        <option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>
      </select><span>per page</span>
    </div>
  </div>
</div>