
<div ng-grid="gridOptions2" class="gridStyle ng-scope ngGrid ng1435321224861 unselectable ui-widget">
  <div ng-class="{'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}" ng-style="topPanelStyle()" style="width: 767px; height: 40px;" class="ngTopPanel ng-scope ui-widget-header ui-corner-top">
    <div ng-show="showGroupPanel()" ng-style="groupPanelStyle()" style="width: 767px; height: 32px;" class="ngGroupPanel ng-hide">
      <div ng-show="configGroups.length == 0" class="ngGroupPanelDescription ng-binding">Drag a column header here and drop it to group by that column.</div>
      <ul ng-show="configGroups.length &gt; 0" class="ngGroupList ng-hide">
        <!-- ngRepeat: group in configGroups-->
      </ul>
    </div>
    <div ng-style="headerStyle()" style="width: 767px; height: 40px;" class="ngHeaderContainer">
      <!-- ngInclude: gridId + 'headerRowTemplate.html'-->
      <div ng-style="headerScrollerStyle()" ng-include="gridId + 'headerRowTemplate.html'" style="height: 40px;" class="ngHeaderScroller ng-scope">
        <!-- ngRepeat: col in renderedColumns-->
        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col0 colt0 ng-user-ch__wr">
          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar ngVerticalBarVisible"> </div>
          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ng-user-ch__header ngSorted">
            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt0"><span class="tbcell__text ng-binding"> </span>
              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
              <div class="activ-tc__bg"></div>
            </div>
            <div class="ngSortPriority ng-binding"></div>
            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
          </div>
          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
        </div>
        <!-- end ngRepeat: col in renderedColumns-->
        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col1 colt1">
          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar ngVerticalBarVisible"> </div>
          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ngSorted">
            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt1"><span class="tbcell__text ng-binding">Name</span>
              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
              <div class="activ-tc__bg"></div>
            </div>
            <div class="ngSortPriority ng-binding"></div>
            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
          </div>
          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
        </div>
        <!-- end ngRepeat: col in renderedColumns-->
        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col2 colt2">
          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar ngVerticalBarVisible"> </div>
          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ngSorted">
            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt2"><span class="tbcell__text ng-binding">Amount</span>
              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
              <div class="activ-tc__bg"></div>
            </div>
            <div class="ngSortPriority ng-binding"></div>
            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
          </div>
          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
        </div>
        <!-- end ngRepeat: col in renderedColumns-->
        <div ng-style="{ height: col.headerRowHeight }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" style="height: 40px;" class="ngHeaderCell ng-scope col3 colt3 ng-user-add__wr">
          <div ng-style="{height: col.headerRowHeight}" ng-class="{ ngVerticalBarVisible: !$last }" style="height: 40px;" class="ngVerticalBar"> </div>
          <div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" draggable="true" style="cursor: pointer;" class="ngHeaderSortColumn ng-user-add__header ngSorted">
            <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText colt3"><span class="tbcell__text ng-binding">Edit</span>
              <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown ng-hide"></div>
              <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp ng-hide"></div>
              <div class="activ-tc__bg"></div>
            </div>
            <div class="ngSortPriority ng-binding"></div>
            <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable" class="ng-hide ngUnPinnedIcon"></div>
          </div>
          <div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip ng-hide"></div>
        </div>
        <!-- end ngRepeat: col in renderedColumns-->
      </div>
    </div>
    <div ng-grid-menu="">
      <div ng-show="showColumnMenu || showFilter" ng-click="toggleShowMenu()" class="ngHeaderButton ng-scope ng-hide">
        <div class="ngHeaderButtonArrow"></div>
      </div>
      <div ng-show="showMenu" class="ngColMenu ng-scope ng-hide">
        <div ng-show="showFilter" class="ng-hide">
          <input placeholder="Search..." type="text" ng-model="filterText" class="ng-pristine ng-untouched ng-valid"/>
        </div>
        <div ng-show="showColumnMenu" class="ng-hide"><span class="ngMenuText ng-binding">Choose Columns:</span>
          <ul class="ngColList">
            <!-- ngRepeat: col in columns | ngColumns-->
            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
              <label class="ng-binding">
                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid"/>
              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
            </li>
            <!-- end ngRepeat: col in columns | ngColumns-->
            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
              <label class="ng-binding">
                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid"/>Name
              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
            </li>
            <!-- end ngRepeat: col in columns | ngColumns-->
            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
              <label class="ng-binding">
                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid"/>Amount
              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
            </li>
            <!-- end ngRepeat: col in columns | ngColumns-->
            <li ng-repeat="col in columns | ngColumns" class="ngColListItem ng-scope">
              <label class="ng-binding">
                <input ng-disabled="col.pinned" type="checkbox" ng-model="col.visible" class="ngColListCheckbox ng-pristine ng-untouched ng-valid"/>Edit
              </label><a title="Group By" ng-class="col.groupedByClass()" ng-show="col.groupable &amp;&amp; col.visible" ng-click="groupBy(col)" class="ngGroupIcon"></a><span ng-show="col.groupIndex &gt; 0" class="ngGroupingNumber ng-binding ng-hide">0</span>
            </li>
            <!-- end ngRepeat: col in columns | ngColumns-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div unselectable="on" ng-viewport="" ng-class="{'ui-widget-content': jqueryUITheme}" ng-style="viewportStyle()" tabindex="1" style="width: 767px; height: 458px;" class="ngViewport ng-scope ui-widget-content">
    <div ng-style="canvasStyle()" style="height: 600px;" class="ngCanvas">    </div>
  </div>
  <div ng-grid-footer="" class="ng-scope">
    <div ng-show="showFooter" ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}" ng-style="footerStyle()" style="width: 767px; height: 0px;" class="ngFooterPanel ng-scope ui-widget-content ui-corner-bottom ng-hide">
      <div class="ngTotalSelectContainer">
        <div ng-class="{'ngNoMultiSelect': !multiSelect}" class="ngFooterTotalItems"><span class="ngLabel ng-binding">Total Items: 20</span><span ng-show="filterText.length &gt; 0" class="ngLabel ng-binding ng-hide">(Showing Items: 20)</span></div>
        <div ng-show="multiSelect" class="ngFooterSelectedItems"><span class="ngLabel ng-binding">Selected Items: 0</span></div>
      </div>
      <div style="float: right; margin-top: 10px;" ng-show="enablePaging" ng-class="{'ngNoMultiSelect': !multiSelect}" class="ngPagerContainer">
        <div style="float:left; margin-right: 10px;" class="ngRowCountPicker"><span style="float: left; margin-top: 3px;" class="ngLabel ng-binding">Page Size:</span>
          <select style="float: left;height: 27px; width: 100px" ng-model="pagingOptions.pageSize" class="ng-pristine ng-untouched ng-valid">
            <!-- ngRepeat: size in pagingOptions.pageSizes-->
            <option ng-repeat="size in pagingOptions.pageSizes" value="15" class="ng-binding ng-scope">15</option>
            <!-- end ngRepeat: size in pagingOptions.pageSizes-->
            <option ng-repeat="size in pagingOptions.pageSizes" value="30" class="ng-binding ng-scope">30</option>
            <!-- end ngRepeat: size in pagingOptions.pageSizes-->
            <option ng-repeat="size in pagingOptions.pageSizes" value="60" class="ng-binding ng-scope">60</option>
            <!-- end ngRepeat: size in pagingOptions.pageSizes-->
          </select>
        </div>
        <div style="float:left; margin-right: 10px; line-height:25px;" class="ngPagerControl">
          <button ng-click="pageToFirst()" ng-disabled="cantPageBackward()" title="First Page" disabled="disabled" class="ngPagerButton">
            <div class="ngPagerFirstTriangle">
              <div class="ngPagerFirstBar"></div>
            </div>
          </button>
          <button ng-click="pageBackward()" ng-disabled="cantPageBackward()" title="Previous Page" disabled="disabled" class="ngPagerButton">
            <div class="ngPagerFirstTriangle ngPagerPrevTriangle"></div>
          </button>
          <input min="1" max="2" type="number" style="width:50px; height: 24px; margin-top: 1px; padding: 0 4px;" ng-model="pagingOptions.currentPage" class="ngPagerCurrent ng-pristine ng-untouched ng-valid ng-valid-min ng-valid-max"/>
          <button ng-click="pageForward()" ng-disabled="cantPageForward()" title="Next Page" class="ngPagerButton">
            <div class="ngPagerLastTriangle ngPagerNextTriangle"></div>
          </button>
          <button ng-click="pageToLast()" ng-disabled="cantPageToLast()" title="Last Page" disabled="disabled" class="ngPagerButton">
            <div class="ngPagerLastTriangle">
              <div class="ngPagerLastBar"></div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <style id="ng1435321224861" type="text/css" rel="stylesheet">.ng1435321224861 .ngCanvas { width: 752px; }.ng1435321224861 .ngRow { width: 752px; }.ng1435321224861 .ngCanvas { width: 752px; }.ng1435321224861 .ngHeaderScroller { width: 767px}.ng1435321224861 .col0 { width: 40px; left: 0px; height: 30px }.ng1435321224861 .colt0 { width: 40px; }.ng1435321224861 .col1 { width: 326px; left: 40px; height: 30px }.ng1435321224861 .colt1 { width: 326px; }.ng1435321224861 .col2 { width: 326px; left: 366px; height: 30px }.ng1435321224861 .colt2 { width: 326px; }.ng1435321224861 .col3 { width: 60px; left: 692px; height: 30px }.ng1435321224861 .colt3 { width: 60px; }</style>
</div>