
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement"/>
  <title></title>
  <meta name="description"/>
  <meta name="keywords"/>
  <meta name="copyright"/>
  <!-- bower_components__styles-->
  <link href="bower_components/ng-grid-bower/ng-grid.min.css" rel="stylesheet"/>
  <link href="bower_components/ngDialog/css/ngDialog.min.css" rel="stylesheet"/>
  <link href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet"/>
  <link href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css" rel="stylesheet"/>
  <!-- end bower_components__styles-->
  <!-- main__styles-->
  <link href="css/ng-grid.css" rel="stylesheet"/>
  <link href="css/ng-tags-input-custom.css" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
  <link href="css/style.css" rel="stylesheet"/>
  <!-- end  main__styles-->
  <!-- bower_components__js-->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <script src="bower_components/respond/dest/respond.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/ng-grid-bower/ng-grid.debug.js"></script>
  <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
  <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
  <script src="bower_components/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/jcf/js/jcf.js"></script>
  <script src="bower_components/jcf/js/jcf.select.js"></script>
  <!-- end bower_components__js-->
  <!-- main__js-->
  <script src="js/main.js"></script>
  <!-- end main__js-->
</head>