
<div ng-style="{'cursor': col.cursor}" ng-class="{ 'ngSorted': !noSortVisible }" class="ngHeaderSortColumn {{col.headerClass}}">
  <div ng-click="col.sort($event)" ng-class="'colt' + col.index" class="ngHeaderText">{{col.displayName}}
    <div ng-show="col.showSortButtonDown()" class="ngSortButtonDown"></div>
    <div ng-show="col.showSortButtonUp()" class="ngSortButtonUp"></div>
  </div>
  <div class="ngSortPriority">{{col.sortPriority}}</div>
  <div ng-class="{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }" ng-click="togglePin(col)" ng-show="col.pinnable"></div>
</div>
<div ng-show="col.resizable" ng-click="col.gripClick($event)" ng-mousedown="col.gripOnMouseDown($event)" class="ngHeaderGrip"></div>