
<div class="modal-content">
  <form>
    <div class="modal-header">
      <h4 id="NewPayoutLabel" class="modal-title">upload from file</h4>
    </div>
    <div class="modal-body">
      <div class="clearfix">
        <div class="form-group">
          <div class="form-icon-group"><span class="form-icon"><i class="icon i-download"></i></span>
            <input type="text" placeholder="File nema" value="{{file_.name}}" ngf-select="" ngf-change="upload($files)" ngf-multiple="multiple" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-xs-10">
              <div class="progress progress-default">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}" class="progress-bar progress-bar-default"></div>
              </div>
            </div>
            <div class="col-xs-2">{{progress}}</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="btn-group_horizontal btn-group_right">
            <button type="button" ng-click="clickImportCompleted()" class="btn btn-primary">Next</button>
            <button type="button" ng-click="closeThisDialog()" class="btn btn-default">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>