extends ../layouts/default

block head
- pageTitle = 'Prego Company Details';

block link
  -var selected = false; //default

block content
  .container
    h2.page-title Account

    .main-account__section.min-section.min-section__br-bg
      div(role='tabpanel')
        // Nav tabs
        ul.nav.nav-tabs.min-section__pd(role='tablist')
          li.active(role='presentation')
            a(href='#CompanyDetails', aria-controls='CompanyDetails', role='tab', data-toggle='tab') Company Details
          li(role='presentation')
            a(href='#ContactDetails', aria-controls='ContactDetails', role='tab', data-toggle='tab') Contact Details
          li(role='presentation')
            a(href='#BankDetails', aria-controls='BankDetails', role='tab', data-toggle='tab') Bank Details
          li(role='presentation')
            a(href='#ChangePassword', aria-controls='ChangePassword', role='tab', data-toggle='tab') Change Password
          li(role='presentation')
            a(href='#ChangePin', aria-controls='ChangePin', role='tab', data-toggle='tab') ChangePin
        // Tab panes
        .tab-content.min-section__pd
          #CompanyDetails.tab-pane.active.fade.in(role='tabpanel')
            .tabpanel_inner-width
              include ../blocks/company-details
            .tabpanel_inner-width
              //- .loader-wr(style="left: 0; top: 0; bottom: 0; right: 0; position: absolute;")
              //-   .loader
          #ContactDetails.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              include ../blocks/contact-details
          #BankDetails.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              include ../blocks/bank-details
          #ChangePassword.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              include ../blocks/change-password
          #ChangePin.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              include ../blocks/change-pin
