extends ../layouts/default

block head
- pageTitle = 'Prego Mempers';

block link
  -var selected = 'members';

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl";

block append js
  script(src='js/ng-members.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title Edit Members
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary(type='button', data-toggle='modal', data-target='#inviteMembersModal')
            i.icon.i-arrow-left &nbsp;
            | MEMBERS
    .min-section.min-section__br-bg.min-section__pd
      .main-filter-block
        form.form-horizontal
          .row
            .col-lg-3
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | First name: 
                    strong Chang
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Last name: 
                    strong Caskey
            .col-lg-3
              .form-group
                label.control-label.col-lg-3 Number:
                .col-lg-9
                  input(type="text", value="192.168.0.016").form-control
              .form-group
                label.control-label.col-lg-3 Reference:
                .col-lg-9
                  select.form-control
                    option Active
                    option Active
                    option Active
            .col-lg-3
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Email: 
                    strong example@mail.com
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    |  Contact No: 
                    strong 1-542-754-3010
            .col-lg-3
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Country: 
                    strong Cyprus
              .form-group
                .col-lg-12
                  .main-filter-block__counter
                    | Date of Birth: 
                    strong 21/12/1980
      .row
        .col-xs-12.min-section
          h4.min-title Payout History
          .gridStyle(ng-grid="gridOptions4")
      .row
        .col-sm-7
          .total-groups
            span.one-totla
              | Total transaction: 
              strong 25
            span.one-totla
              | Total amount: 
              strong $12,484.00
        .col-sm-5
          .btn-group_horizontal.btn-group_right
              button.btn.btn-primary(type='button')
                | Save
              a(href="payout.html").btn.btn-default(type='button')
                | Cancel
