extends ../layouts/default

block head
- pageTitle = 'Prego Company';

block content
  .container.loader-bg
    //.loader-wr.loader-wr_sb.js-minHt
      .loader-2
        img(src="img/loader.svg", alt="")

    h2.page-title Dashboard
    .row
      .col-md-4
        .min-section.min-section__br-bg.min-section__br-bg_info.min-section__pd.info-dash-couner-block
          h3.statistics__title
            span.main-counter__icon-wr
              i.icon.i-dollars
            | balance
          .main-counter__text-wr
            //- .statistics__general-information
            //-   span.statistics__general-information-label Company
            .main-counter__number
              span USD 
              | $14,050.30
      .col-md-4
        .min-section.min-section__br-bg.min-section__br-bg_info.min-section__pd.info-dash-couner-block
          h3.statistics__title
            span.main-counter__icon-wr
              i.icon.i-people
            | members
          .main-counter__text-wr
            .statistics__general-information
              span.statistics__general-information-label Join Requests:
              span.statistics__general-information-value 4
            .main-counter__number
              | 329
      .col-md-4
        .min-section.min-section__br-bg.min-section__br-bg_info.min-section__pd.info-dash-couner-block
          h3.statistics__title
            span.main-counter__icon-wr
              i.icon.i-reporters-i
            | payrolls
          .main-counter__text-wr
            .statistics__general-information
              span.statistics__general-information-label Latest:
              span.statistics__general-information-value 16/06/ 2015
            .main-counter__number
              | 56

    section.info-block.min-section.min-section__br-bg.min-section__pd.clearfix.alert.fade.in(role='alert')
      .section_btn-bottomm-right-wr
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
        header.min-section__header
          h3.min-section__title WELCOME TO YOUR DASHBOARD
        .row
          .col-lg-10
            .info-block__text
              p With this Portal you will be able to manage and make easy payroll within your Company.  You can manage all your members and create and upload payroll lists for an easy one time payroll for all. 
              p Take a moment to understand how this portal works, we will guide you with instructions trough out the Portal for you to have a better performance. Start now.
        a(href="").btn.btn-primary.btn_bottom-right i understand
    .row.dysplay-tb
      .col-md-7.col-lg-8.dysplay-tb-c.dysplay-tb-c-l
        //- section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix
        //-   .chart__wr.section_btn-bottomm-right-wr
        //-     .row
        //-       .col-lg-9
        //-         header.min-section__header
        //-           h3.min-section__title MEMBERS
        //-         .row
        //-           .col-sm-6
        //-             .chart__info
        //-               .chart__info-col.chart__info-col-1
        //-                 .chart__info-col-label.chart__color-info active
        //-                 .chart__info-col-value 300
        //-               .chart__info-col.chart__info-col-2
        //-                 .chart__info-col-label.chart__color-primary pending
        //-                 .chart__info-col-value 81
        //-               .chart__info-col.chart__info-col-3
        //-                 .chart__info-col-label.chart__color-default inactive
        //-                 .chart__info-col-value 29
        //-           .col-sm-6
        //-             .chart__block
        //-               img(src="img/mambers-chart-img.png", alt="").img-responsive
        //-       .col-lg-3
        //-         .row
        //-           .col-xs-6.col-lg-12.chart__total-wr
        //-             .chart__total-label TOTAL MEMBERS
        //-             .chart__total-value 329
        //-     a(href="").btn.btn-primary.btn_bottom-right members


        //- section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix.loader-bg
        //-   .loader-wr
        //-     .loader-2.loader-2_min
        //-       img(src="img/loader.svg", alt="", width="40", height="40")
        //-   .chart__wr.section_btn-bottomm-right-wr
        //-     .row
        //-       .col-lg-9
        //-         header.min-section__header
        //-           h3.min-section__title.min-section__title_load-show PAYROLL
        //-         .row
        //-           .col-sm-6
        //-             .chart__info
        //-               .chart__info-col.chart__info-col-1
        //-                 .chart__info-col-label.chart__color-info last
        //-                 .chart__info-col-value 542
        //-               .chart__info-col.chart__info-col-2
        //-                 .chart__info-col-label.chart__color-primary pending
        //-                 .chart__info-col-value 54
        //-               .chart__info-col.chart__info-col-3
        //-                 .chart__info-col-label.chart__color-danger failed
        //-                 .chart__info-col-value 5
        //-           .col-sm-6
        //-             .chart__block
        //-               img(src="img/payroll-chart-img.png", alt="").img-responsive
        //-       .col-lg-3
        //-         .row
        //-           .col-xs-6.col-lg-12.chart__total-wr
        //-             .chart__total-label TOTAL PAYROLL
        //-             .chart__total-value 601
        //-     a(href="").btn.btn-primary.btn_bottom-right members

        section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix
          .chart__wr.section_btn-bottomm-right-wr
            header.min-section__header
              h3.min-section__title MEMBERS
            .row
              .col-md-6.col-lg-5
                .chart__info
                  .chart__info-col.chart__info-col-1
                    .chart__info-col-label.chart__color-info active
                    .chart__info-col-value 300
                  .chart__info-col.chart__info-col-2
                    .chart__info-col-label.chart__color-danger inactive
                    .chart__info-col-value 81
                  .chart__info-col.chart__info-col-3
                    .chart__info-col-label.chart__color-primary join requests
                    .chart__info-col-value 29
              .col-md-4.col-md-offset-2.total-chart_wr
                .chart__total-label TOTAL MEMBERS
                .chart__total-value 329


        section.min-section.min-section__br-bg.min-section__pd.monthly-payment__section.clearfix.loader-bg
          .loader-wr
            .loader-2.loader-2_min
              img(src="img/loader.svg", alt="", width="40", height="40")
          .chart__wr.section_btn-bottomm-right-wr
            header.min-section__header
              h3.min-section__title.min-section__title_load-show PAYROLL
            .row
              .col-md-6.col-lg-5
                .chart__info
                  .chart__info-col.chart__info-col-1
                    .chart__info-col-label.chart__color-info complened
                    .chart__info-col-value 542
                  .chart__info-col.chart__info-col-2
                    .chart__info-col-label.chart__color-danger failed
                    .chart__info-col-value 54
                  .chart__info-col.chart__info-col-3
                    .chart__info-col-label.chart__color-primary draft
                    .chart__info-col-value 5
              .col-md-4.col-md-offset-2.total-chart_wr
                .chart__total-label TOTAL PAYROLL
                .chart__total-value 601


        .row
          .col-sm-4.min-section
            a(href="send-money.html").btn.btn-lg.btn-block.btn-primary send invitation
          .col-sm-4.min-section
            a(href="").btn.btn-lg.btn-block.btn-primary join requests
          .col-sm-4.min-section
            a(href="").btn.btn-lg.btn-block.btn-primary make payroll

        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
            h3.min-section__title LATEST TRANSACTIONS
          .min-section__content-wr
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Payout From CX5YN001
                .col-sm-7
                  .item__text.item__text_right
                    | $890.00
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234
            .min-section.min-section__br-bg.min-section__pd
              .row
                .col-sm-5
                  .item__text Expires 14/17
                .col-sm-7
                  .item__text.item__text_right
                    | Balance: 
                    span USD $35,050.03
              .row
                .col-sm-5
                  .item__text.item__text_min.item__text_mg-top 01.07.2015 12:34:55
                .col-sm-7
                  .item__text.item__text_right.item__text_min.item__text_mg-top
                    | Ref. No 234234234


      .col-md-5.col-lg-4.news-and-updates__block.dysplay-tb-c.dysplay-tb-c-r.min-section__br-bg_primary-light
        section.min-section__pd.section-z-index
          header.min-section__header
            h3.min-section__title NEWS & UPDATE
          .news-and-updates__list-wr
            ul.news-and-updates__list
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Mobile Update Verson 3.8
                  .news-and-updates__item-text
                    p New Version of PregoDashboard now can be updated directly from your device.
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title PregoPay
                  .news-and-updates__item-text
                    p A digital wallet system is coming to your dashboard soon. To learn More: 
                    a(href="") http://pregopay.goprego.com/
              li.news-and-updates__list-item
                .news-and-updates__list-item-inner
                  h4.news-and-updates__item-title Insurance Card
                  .news-and-updates__item-text
                    p Travel Insurance that links into your PregoAccount, learn more and order here: 
                      a(href="") http://pregopay.goprego.com/
        footer.min-section__footer.text-center
          a(href="").min-section__footer-link SEE ALL NEWS & UPDATES


        //- section.min-section.min-section__br-bg.min-section__pd
        //-   header.min-section__header
        //-     h3.min-section__title Make new payout
        //-   .min-section__content-wr
        //-     ul.min-section__list
        //-       li 
        //-         a(href="")
        //-           span.first-list__icon
        //-             i.icon.i-uploadfile
        //-           | Upload Payout List
        //-           i.icon.i-arrow-right.i-more_m-l
        //-       li 
        //-         a(href="")
        //-           span.first-list__icon
        //-             i.icon.i-card
        //-           | Add Bank Account
        //-           i.icon.i-arrow-right.i-more_m-l
        //-   footer.min-section__footer.clearfix
        //-     a(href="").btn.btn-primary.pull-right Payout

        //- section.min-section.min-section__br-bg.min-section__pd
        //-   header.min-section__header
        //-     h3.min-section__title Reports
        //-   .min-section__content-wr
        //-     ul.min-section__list
        //-       li 
        //-           span.first-list__icon
        //-             .user-status.user-status_error
        //-           | Payment Error - Account No.647885900
        //-       li 
        //-           span.first-list__icon
        //-             .user-status.user-status_new-reg
        //-           | 45 new member registrations
        //-       li 
        //-           span.first-list__icon
        //-             .user-status
        //-           | Account verification is being processed
        //-   footer.min-section__footer.clearfix
        //-     a(href="").pull-right More reports
        //-       i.icon.i-arrow-right.i-more_m-l
