extends ../layouts/default
block head
- pageTitle = 'Prego Payout';
block link
   -var selected = "payout";

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-payout.js')

block content
  .container
    .row
      .col-sm-6
        h2.page-title Payout
      .col-sm-6
        .btn-group_horizontal.btn-group_right
          button.btn.btn-primary.ngdialog-button.ngdialog-button-secondary(type='button', ng-click="clickToOpen()")
            | New Payout
    .main-account__section.min-section.min-section__br-bg
      div(role='tabpanel')
        // Nav tabs
        .min-section__pd.min-section__pd-bt-none
          .row
            .col-sm-12
              ul.nav.nav-tabs.nav-tub_custom(role='tablist')
                li.active(role='presentation')
                  a(href='#All', aria-controls='All', role='tab', data-toggle='tab') All
                li(role='presentation')
                  a(href='#Active', aria-controls='Active', role='tab', data-toggle='tab') Active
                li(role='presentation')
                  a(href='#PendingConfirmation', aria-controls='PendingConfirmation', role='tab', data-toggle='tab') Pending Confirmation
                li(role='presentation')
                  a(href='#Archived', aria-controls='Archived', role='tab', data-toggle='tab') Archived

        // Tab panes
        .tab-content.min-section__pd
          #All.tab-pane.active.fade.in(role='tabpanel')
            .tabpanel_inner
              .gridStyle(ng-grid="gridOptions")
          #Active.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Active
           #PendingConfirmation.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Pending Confirmation
          #Archived.tab-pane.fade(role='tabpanel')
            .tabpanel_inner-width
              p Archived
