extends ../layouts/default
block head
- pageTitle = 'Prego Reports';
block link
  -var selected = "reports";
block content
  .container
    h2.page-title Reports

    .coming-soon__wr
      h3.coming-soon
        | Coming 
        span soon
