extends ../layouts/default

block head
  - pageTitle = 'uPay Sign up 2';

block authorisedMenu
  - authorisedMenu = false;

block wr
  - authorisation = "log-out"

block ng
  - var ngApp = "myApp";
  - var ngController = "MyCtrl2";

block append js
  script(src='js/ng-payout.js')

block content
  .inner-page.js-minHt
    .container
      .center-min-block.center-md-bl.center-rel-wr__for-right-hint
        .center-min-block__body.clearfix

          .loginbox
            block sign-up-caption
              include ../blocks/sign-up-caption
            .left-form-block__wr
              header.center-min-block__header.row
                h2.center-min-block__header-title.col-xs-9
                  .pull-left.center-min-block__header-icon_wr
                    img.center-min-block__header-icon(src="img/bag-img.png", alt="")
                  span.center-min-block__header-title_text  Company details

              form.form-horizontal(name="login", action="/login", method="post")
                .form-group
                  label.control-label.col-sm-3(for="inputCompanyName") Company Name
                  .col-sm-9
                    input.form-control#inputCompanyName(value="Koninklijke Philips", type="text", name="CompanyName", placeholder="Company Name", required)

                .form-group
                  label.control-label.col-sm-3(for="inputRegistrationNo") Registration No.
                  .col-sm-9
                    input.form-control#inputRegistrationNo(value="PR123456", type="text", name="RegistrationNo", placeholder="Registration No.", required)

                .form-group.form-group__some-controls
                  label.control-label.col-sm-3(for="inputCompanyAddress") Company Address
                  .col-sm-9
                    .row
                      .form-group__inner.col-sm-12.has-error.has-feedback
                        input.form-control#inputCompanyAddress(value="", type="text", name="CompanyAddress", placeholder="Street Address", required)
                        span.sr-only#inputCompanyAddress
                          | Error Error Error Error Error Error Error
                        span.help-block.help-blok__message
                          | Error Error Error Error Error Error Error Error Error Error Error Error Error Error!!!!
                    .row
                      .form-group__inner.col-sm-4.has-error.has-feedback
                        input.form-control#inputCompanyCity(value="", type="text", name="City", placeholder="City", required)
                        span.sr-only#inputCompanyCity
                          | Error Error Error Error Error Error Error
                        span.help-block.help-blok__message
                          | Error Error Error Error Error Error Error Error!!!!

                      .form-group__inner.col-sm-4.has-error.has-feedback
                        input.form-control#inputCompanyPostalCode(value="", type="text", name="PostalCode", placeholder="Postal Code", required)
                        span.sr-only#inputCompanyPostalCode
                          | Error Error Error Error Error Error Error
                        span.help-block.help-blok__message
                          | Error Error Error Error Error Error Error Error!!!!

                      .form-group__inner.col-sm-4.has-success.has-feedback
                        select.form-control#inputCompanyCountry(data-jcf='{"wrapNative": false, "wrapNativeOnMobile": true, "fakeDropInBody": false, "useCustomScroll": false}')
                          option(value="0") Country
                          option(value="1") USA
                          option(value="2") Russia
                          option(value="3") Spain
                        span.sr-only#inputCompanyCountry
                          | Success
                        span.help-block.help-blok__message
                          | Success!!!!

                .form-group
                  label.control-label.col-sm-3(for="inputWebAddress") Web address
                  .col-sm-9
                    input.form-control#inputWebAddress(value="upaycorporate.com", type="text", name="WebAddress", placeholder="Web address", required)

                .form-group
                  label.control-label.col-sm-3(for="inputFirstName") First Name
                  .col-sm-9
                    input.form-control#inputFirstName(value="", type="text", name="FirstName", placeholder="First Name", required)

                .form-group
                  label.control-label.col-sm-3(for="inputFamilyName") Family Name
                  .col-sm-9
                    input.form-control#inputFamilyName(value="", type="text", name="FamilyName", placeholder="Family Name", required)

                .form-group
                  label.control-label.col-sm-3(for="inputCompanyPosition") Company Position
                  .col-sm-9
                    input.form-control#inputCompanyPosition(value="", type="text", name="CompanyPosition", placeholder="Company Position", required)

                .form-group
                  label.control-label.col-sm-3(for="inputMobileNo") Mobile No.
                  .col-sm-9
                    input.form-control#inputMobileNo(value="", type="phone", name="MobileNo", placeholder="Mobile No.", required)

                .form-group
                  label.control-label.col-sm-3(for="inputEmail") E-mail
                  .col-sm-9
                    input.form-control#inputEmail(type="email", name="email", placeholder="E-mail", required)

                .form-group
                  .col-sm-9.col-sm-offset-3
                    .sign-up__form-btn_wr
                      // button.btn.btn-primary.sign-up__form-btn.btn-primary.disabled(type="submit") Send
                      a.btn.btn-primary.sign-up__form-btn.btn-primary(href="sign-up-3.html") Continue
