extends ../layouts/default
block head
- pageTitle = 'Prego Support';
block link
   -var selected = "support";
block content
  .container
    h2.page-title Support
    .row
      .col-md-8
        section.min-section
          //- header.min-section__header.min-section__header_black
          //-   h3.min-section__title Q&A
          .monthly-payment__wr.faq-accordion__wr
            #accordion.panel-group.accordion_black(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false')
                      | What is uPay?
                #collapseOne.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
              .panel.panel-default
                .panel-heading(role='tab')
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='true')
                      | Can I pay via uPay?
                #collapseTwo.panel-collapse.in(role='tabpanel')
                  .panel-body
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
                    p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                    p Qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              .panel.panel-default
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false')
                      | Where does the name uPay come from?
                #collapseThree.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    p Qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              .panel.panel-default
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseFore', aria-expanded='false')
                      | What other services are you compatible with?
                #collapseFore.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    p Qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    p Qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

      .col-md-4
        section.min-section.min-section__br-bg.min-section__pd
          header.min-section__header
              h3.min-section__title quick guide
            .monthly-payment__wr
              .quick-guide__list-item
                a(href="").quick-guide__list-link
                  i.fs-min.icon.i-getting-started
                  span GETTING STARTED 
              .quick-guide__list-item
                a(href="").quick-guide__list-link
                  i.fs-big.icon.i-add-members
                  span ADD MEMBERS 
              .quick-guide__list-item
                a(href="").quick-guide__list-link
                  i.fs-big.icon.i-how-to-send-money
                  span MAKE PAYROLL
