.modal-content
  form
    .modal-header
      h4#NewPayoutLabel.modal-title upload from file
    .modal-body
      .clearfix
        .form-group
          .form-icon-group
            span.form-icon: i.icon.i-download
            input(type="text", placeholder="File nema", value="{{file_.name}}", ngf-select='', ngf-change='upload($files)', ngf-multiple='multiple').form-control
      .row
        .col-md-8
          .row
            .col-xs-10
              .progress.progress-default
                .progress-bar.progress-bar-default(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}')
            .col-xs-2 {{progress}}
        .col-md-4
          .btn-group_horizontal.btn-group_right
            button.btn.btn-primary(type="button", ng-click="clickImportCompleted()") Next
            button(type="button", ng-click="closeThisDialog()").btn.btn-default Cancel
