.modal-content
  form
    .modal-header
      h4#ImportCompleted.modal-title Import completed
    .modal-body
      .clearfix
        p 15 Payput records were imported
        hr
        p 7 Records were skipped
        .btn-group_horizontal.btn-group_right
          button(type="button", ng-click="closeThisDialog()").btn.btn-primary Ok
