include ../helpers/mixins

block prepend authorisedMenu
  - authorisedMenu = true;

block ng

block wr

doctype html
<!--[if IE 8]>
<html lang="en-US" class="no-js lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
html.no-js(lang='en-US', ng-app=ngApp)
  include ../blocks/head
  body.desktop-detected(ng-controller=ngController)
    // Header
    include ../blocks/header
    // end Header

    // #page-content-wrapper

    #page-content-wrapper(class=authorisation)
      block authorisedMenu
        if authorisedMenu
          // Sidebar
          include ../blocks/left-menu
          // end Sidebar

      // Main content
      main.main-content.js-minHt.js-Ht
        block content
      // end main Content

      // Footer
      include ../blocks/footer
      // end Footer

    // end #page-content-wrapper
