form.form-horizontal(name="ChangePin", action="", method="post")

  .form-group
    label.control-label.col-sm-3(for="inputOldPinCode") Old Pin Code
    .col-sm-9
      input.form-control#inputOldPinCode(type="password", name="OldPinCode", required)

  .form-group
    label.control-label.col-sm-3(for="inputNewPinCode") New Pin Code
    .col-sm-9
      input.form-control#inputNewPinCode(type="password", name="NewPinCode", required)

  .form-group
    label.control-label.col-sm-3(for="inputConfirmPinCode") Confirm Pin Code
    .col-sm-9
      input.form-control#inputConfirmPinCode(type="password", name="ConfirmPinCode" required)

  .form-group
    .col-sm-9.col-sm-offset-3
      .sign-up__form-btn_wr
        button.btn.btn-primary.sign-up__form-btn.btn-primary.pull-right(type="submit") Update