form.form-horizontal(name="ChangePin", action="", method="post")

  .form-group
    label.control-label.col-sm-3(for="inputPassword") Old Password
    .col-sm-9
      input.form-control#inputPassword(type="password", name="OldPassword", required)

  .form-group
    label.control-label.col-sm-3(for="inputNewPassword") New Password
    .col-sm-9
      input.form-control#inputNewPassword(type="password", name="NewPassword", required)

  .form-group
    label.control-label.col-sm-3(for="inputConfirmPassword") Confirm Password
    .col-sm-9
      input.form-control#inputConfirmPassword(type="password", name="ConfirmPinCode" required)

  .form-group
    .col-sm-9.col-sm-offset-3
      .sign-up__form-btn_wr
        button.btn.btn-primary.sign-up__form-btn.btn-primary.pull-right(type="submit") Update