form.form-horizontal(name="ChangeContactDetails", action="", method="post")

  .form-group.form-group__some-controls
    label.control-label.col-sm-3(for="inputContactAddress") Contact Address
    .col-sm-9
      .row
        //- .form-group__inner.col-sm-12.has-error.has-feedback
        .form-group__inner.col-sm-12
          input.form-control#inputContactAddress(value="", type="text", name="ContactAddress", placeholder="Street Address", required)
          //- span.sr-only#inputContactAddress
          //-   | Error Error Error Error Error Error Error
          //- span.help-block.help-blok__message
          //-   | Error Error Error Error Error Error Error Error Error Error Error Error Error Error!!!!
      .row
        //- .form-group__inner.col-sm-4.has-error.has-feedback
        .form-group__inner.col-sm-4
          input.form-control#inputContactCity(value="", type="text", name="City", placeholder="City", required)
          //- span.sr-only#inputContactCity
          //-   | Error Error Error Error Error Error Error
          //- span.help-block.help-blok__message
          //-   | Error Error Error Error Error Error Error Error!!!!

        //- .form-group__inner.col-sm-4.has-error.has-feedback
        .form-group__inner.col-sm-4
          input.form-control#inputContactPostalCode(value="", type="text", name="PostalCode", placeholder="Postal Code", required)
          //- span.sr-only#inputContactPostalCode
          //-   | Error Error Error Error Error Error Error
          //- span.help-block.help-blok__message
          //-   | Error Error Error Error Error Error Error Error!!!!

        //- .form-group__inner.col-sm-4.has-success.has-feedback
        .form-group__inner.col-sm-4
          select.form-control#inputContactCountry
            option(value="0") Country
            option(value="1") USA
            option(value="2") Russia
            option(value="3") Spain
          //- span.sr-only#inputContactCountry
          //-   | Success
          //- span.help-block.help-blok__message
          //-   | Success!!!!

  .form-group
    label.control-label.col-sm-3(for="inputFirstName") First Name
    .col-sm-9
      input.form-control#inputFirstName(value="", type="text", name="FirstName", placeholder="First Name", required)

  .form-group
    label.control-label.col-sm-3(for="inputFamilyName") Family Name
    .col-sm-9
      input.form-control#inputFamilyName(value="", type="text", name="FamilyName", placeholder="Family Name", required)

  .form-group
    label.control-label.col-sm-3(for="inputContactPosition") Contact Position
    .col-sm-9
      input.form-control#inputContactPosition(value="", type="text", name="ContactPosition", placeholder="Contact Position", required)

  .form-group
    label.control-label.col-sm-3(for="inputMobileNo") Mobile No.
    .col-sm-9
      input.form-control#inputMobileNo(value="", type="phone", name="MobileNo", placeholder="Mobile No.", required)

  .form-group
    label.control-label.col-sm-3(for="inputEmail") E-mail
    .col-sm-9
      input.form-control#inputEmail(type="email", name="email", placeholder="E-mail", required)

  .form-group
    .col-sm-9.col-sm-offset-3
      .sign-up__form-btn_wr
        button.btn.btn-primary.sign-up__form-btn.btn-primary.pull-right(type="submit") Update
