.input-ng-datepicker
  span.btn.ng-datepicker-btn(type='button', ng-click='open($event)')
    i.icon.i-calculator
  input.form-control(type='text', datepicker-popup='',show-button-bar="false", ng-model='dt', is-open='opened', min-date='minDate', datepicker-options='dateOptions', ng-required='true', close-text='Close')
