footer.main-footer.clearfix.js-footer__ht
  .container
    .row
      .col-sm-6.copyright-block
        p.copyright-block__text &copy; 2015 Prego uPay. All Rights Reseved
      .col-sm-6
          ul.footer-nav
            li.footer-nav__li
              a.footer-nav__link(href='') Support
            li.footer-nav__li
              a.footer-nav__link(href='') Terms of Use
            li.footer-nav__li
              a.footer-nav__link(href='') Contact
