.ng-scope(ng-grid-footer='')
   .ngFooterPanel.ng-scope.clearfix(ng-show='showFooter', ng-class="{'ui-widget-content': jqueryUITheme, 'ui-corner-bottom': jqueryUITheme}", ng-style='footerStyle()', )
      .ngPagerContainer.ngNoMultiSelect(ng-show='enablePaging', ng-class="{'ngNoMultiSelect': !multiSelect}")
         .ngPagerControl
            | Page
            .ngPagerControl__form-gloup
               button.btn(type='button', ng-click='pageBackward()', ng-disabled='cantPageBackward()', title='Previous Page')
                  i.icon.i-arrow-left
               input.form-control(value='{{pagingOptions.currentPage}}')
               button.btn(type='button', ng-click='pageForward()', ng-disabled='cantPageForward()', title='Next Page', disabled='disabled')
                  i.icon.i-arrow-right
            | of {{maxPages()}}
      .ngRowCountPicker
         span.ngLabel Show
         select(class="form-control ngRowCountPicker__f-c" ng-model='pagingOptions.pageSize')
            option(ng-repeat='size in pagingOptions.pageSizes') {{size}}
         span per page