.gridStyle.ng-scope.ngGrid.ng1435321224861.unselectable.ui-widget
  .ngTopPanel.ng-scope.ui-widget-header.ui-corner-top(ng-class="{'ui-widget-header':jqueryUITheme, 'ui-corner-top': jqueryUITheme}", ng-style='topPanelStyle()', style='width: 767px; height: 40px;')
    .ngGroupPanel.ng-hide(ng-show='showGroupPanel()', ng-style='groupPanelStyle()', style='width: 767px; height: 32px;')
      .ngGroupPanelDescription.ng-binding(ng-show='configGroups.length == 0') Drag a column header here and drop it to group by that column.
      ul.ngGroupList.ng-hide(ng-show='configGroups.length > 0')
        // ngRepeat: group in configGroups
    .ngHeaderContainer(ng-style='headerStyle()', style='width: 767px; height: 40px;')
      // ngInclude: gridId + 'headerRowTemplate.html'
      .ngHeaderScroller.ng-scope(ng-style='headerScrollerStyle()', ng-include="gridId + 'headerRowTemplate.html'", style='height: 40px;')
        // ngRepeat: col in renderedColumns
        .ngHeaderCell.ng-scope.col0.colt0.ng-user-ch__wr(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='height: 40px;')
          .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 40px;')  
          .ngHeaderSortColumn.ng-user-ch__header.ngSorted(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !noSortVisible }", draggable='true', style='cursor: pointer;')
            .ngHeaderText.colt0(ng-click='col.sort($event)', ng-class="'colt' + col.index")
              span.tbcell__text.ng-binding  
              .ngSortButtonDown.ng-hide(ng-show='col.showSortButtonDown()')
              .ngSortButtonUp.ng-hide(ng-show='col.showSortButtonUp()')
              .activ-tc__bg
            .ngSortPriority.ng-binding
            .ng-hide.ngUnPinnedIcon(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
          .ngHeaderGrip.ng-hide(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
        // end ngRepeat: col in renderedColumns
        .ngHeaderCell.ng-scope.col1.colt1(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='height: 40px;')
          .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 40px;')  
          .ngHeaderSortColumn.ngSorted(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !noSortVisible }", draggable='true', style='cursor: pointer;')
            .ngHeaderText.colt1(ng-click='col.sort($event)', ng-class="'colt' + col.index")
              span.tbcell__text.ng-binding Name
              .ngSortButtonDown.ng-hide(ng-show='col.showSortButtonDown()')
              .ngSortButtonUp.ng-hide(ng-show='col.showSortButtonUp()')
              .activ-tc__bg
            .ngSortPriority.ng-binding
            .ng-hide.ngUnPinnedIcon(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
          .ngHeaderGrip.ng-hide(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
        // end ngRepeat: col in renderedColumns
        .ngHeaderCell.ng-scope.col2.colt2(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='height: 40px;')
          .ngVerticalBar.ngVerticalBarVisible(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 40px;')  
          .ngHeaderSortColumn.ngSorted(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !noSortVisible }", draggable='true', style='cursor: pointer;')
            .ngHeaderText.colt2(ng-click='col.sort($event)', ng-class="'colt' + col.index")
              span.tbcell__text.ng-binding Amount
              .ngSortButtonDown.ng-hide(ng-show='col.showSortButtonDown()')
              .ngSortButtonUp.ng-hide(ng-show='col.showSortButtonUp()')
              .activ-tc__bg
            .ngSortPriority.ng-binding
            .ng-hide.ngUnPinnedIcon(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
          .ngHeaderGrip.ng-hide(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
        // end ngRepeat: col in renderedColumns
        .ngHeaderCell.ng-scope.col3.colt3.ng-user-add__wr(ng-style='{ height: col.headerRowHeight }', ng-repeat='col in renderedColumns', ng-class='col.colIndex()', style='height: 40px;')
          .ngVerticalBar(ng-style='{height: col.headerRowHeight}', ng-class='{ ngVerticalBarVisible: !$last }', style='height: 40px;')  
          .ngHeaderSortColumn.ng-user-add__header.ngSorted(ng-style="{'cursor': col.cursor}", ng-class="{ 'ngSorted': !noSortVisible }", draggable='true', style='cursor: pointer;')
            .ngHeaderText.colt3(ng-click='col.sort($event)', ng-class="'colt' + col.index")
              span.tbcell__text.ng-binding Edit
              .ngSortButtonDown.ng-hide(ng-show='col.showSortButtonDown()')
              .ngSortButtonUp.ng-hide(ng-show='col.showSortButtonUp()')
              .activ-tc__bg
            .ngSortPriority.ng-binding
            .ng-hide.ngUnPinnedIcon(ng-class='{ ngPinnedIcon: col.pinned, ngUnPinnedIcon: !col.pinned }', ng-click='togglePin(col)', ng-show='col.pinnable')
          .ngHeaderGrip.ng-hide(ng-show='col.resizable', ng-click='col.gripClick($event)', ng-mousedown='col.gripOnMouseDown($event)')
        // end ngRepeat: col in renderedColumns
    div(ng-grid-menu='')
      .ngHeaderButton.ng-scope.ng-hide(ng-show='showColumnMenu || showFilter', ng-click='toggleShowMenu()')
        .ngHeaderButtonArrow
      .ngColMenu.ng-scope.ng-hide(ng-show='showMenu')
        .ng-hide(ng-show='showFilter')
          input.ng-pristine.ng-untouched.ng-valid(placeholder='Search...', type='text', ng-model='filterText')
        .ng-hide(ng-show='showColumnMenu')
          span.ngMenuText.ng-binding Choose Columns:
          ul.ngColList
            // ngRepeat: col in columns | ngColumns
            li.ngColListItem.ng-scope(ng-repeat='col in columns | ngColumns')
              label.ng-binding
                input.ngColListCheckbox.ng-pristine.ng-untouched.ng-valid(ng-disabled='col.pinned', type='checkbox', ng-model='col.visible')
              a.ngGroupIcon(title='Group By', ng-class='col.groupedByClass()', ng-show='col.groupable && col.visible', ng-click='groupBy(col)')
              span.ngGroupingNumber.ng-binding.ng-hide(ng-show='col.groupIndex > 0') 0
            // end ngRepeat: col in columns | ngColumns
            li.ngColListItem.ng-scope(ng-repeat='col in columns | ngColumns')
              label.ng-binding
                input.ngColListCheckbox.ng-pristine.ng-untouched.ng-valid(ng-disabled='col.pinned', type='checkbox', ng-model='col.visible')
                | Name
              a.ngGroupIcon(title='Group By', ng-class='col.groupedByClass()', ng-show='col.groupable && col.visible', ng-click='groupBy(col)')
              span.ngGroupingNumber.ng-binding.ng-hide(ng-show='col.groupIndex > 0') 0
            // end ngRepeat: col in columns | ngColumns
            li.ngColListItem.ng-scope(ng-repeat='col in columns | ngColumns')
              label.ng-binding
                input.ngColListCheckbox.ng-pristine.ng-untouched.ng-valid(ng-disabled='col.pinned', type='checkbox', ng-model='col.visible')
                | Amount
              a.ngGroupIcon(title='Group By', ng-class='col.groupedByClass()', ng-show='col.groupable && col.visible', ng-click='groupBy(col)')
              span.ngGroupingNumber.ng-binding.ng-hide(ng-show='col.groupIndex > 0') 0
            // end ngRepeat: col in columns | ngColumns
            li.ngColListItem.ng-scope(ng-repeat='col in columns | ngColumns')
              label.ng-binding
                input.ngColListCheckbox.ng-pristine.ng-untouched.ng-valid(ng-disabled='col.pinned', type='checkbox', ng-model='col.visible')
                | Edit
              a.ngGroupIcon(title='Group By', ng-class='col.groupedByClass()', ng-show='col.groupable && col.visible', ng-click='groupBy(col)')
              span.ngGroupingNumber.ng-binding.ng-hide(ng-show='col.groupIndex > 0') 0
            // end ngRepeat: col in columns | ngColumns
  .ngViewport.ng-scope.ui-widget-content(unselectable='on', ng-viewport='', ng-class="{'ui-widget-content': jqueryUITheme}", ng-style='viewportStyle()', tabindex='1', style='width: 767px; height: 458px;')
    .ngCanvas(ng-style='canvasStyle()', style='height: 600px;')
      .grid-massage Empty, empty, empty!!!!