block link
  -var selected = 'dashboard'; //default

aside#sidebar-wrapper
  nav
    ul.sidebar-nav
      - if (selected == 'profile')
        +nav_item( "profile.html", "active" )
          span.icon
            span.profile-img__wr
              img(src="img/profil-img.png", alt="")
              .user-status.user-status_avatar.user-status_new-reg
          | James K
      - else
        +nav_item( "profile.html" )
          span.icon
            span.profile-img__wr
              img(src="img/profil-img.png", alt="")
              .user-status.user-status_avatar.user-status_new-reg
          | James K
      - if (selected == 'dashboard')
        +nav_item( "index.html", "active" )
          i.icon.i-dash-i
          | dashboard
      - else
        +nav_item( "index.html" )
          i.icon.i-dash-i
          | dashboard

      - if (selected == 'companies')
        +nav_item( "companies.html", "active" )
          i.icon.i-companies-i
          | Companies
      - else
        +nav_item( "companies.html" )
          i.icon.i-companies-i
          | Companies

      - if (selected == 'members')
        +nav_item( "members.html", "active" )
          i.icon.i-people
          | Members
      - else
        +nav_item( "members.html" )
          i.icon.i-people
          | Members

      - if (selected == 'payout')
        +nav_item( "payout.html", "active" )
          i.icon.i-coin
          | Payroll
      - else
        +nav_item( "payout.html" )
          i.icon.i-coin
          | Payroll

      - if (selected == 'reports')
        +nav_item( "reports.html", "active" )
          i.icon.i-reporters-i
          | Reports
      - else
        +nav_item( "reports.html" )
          i.icon.i-reporters-i
          | Reports

      - if (selected == 'support')
        +nav_item( "support.html", "active" )
          i.icon.i-support-i
          | Support
      - else
        +nav_item( "support.html" )
          i.icon.i-support-i
          | Support
